.button {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 25px;
  width: fit-content;
  line-height: 1.2;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &::after {
    transition: all 0.3s ease-in-out;
  }

  @media screen and (width <= 768px) {
    font-size: 16px;
  }

  svg {
    margin-left: 8px;
  }

  &--orange {
    background-color: var(--accent-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--orange-dark-color);

      &::after {
        background-color: var(--orange-dark-color);
      }
    }
  }

  &--white {
    background-color: var(--white-color);
    color: var(--black-color);

    &::after {
      background-color: var(--white-color);
    }

    svg {
      transition: all;

      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      color: var(--accent-color);

      svg {
        fill: var(--accent-color);
      }

      svg {
        path {
          stroke: var(--accent-color);
        }
      }

      &::after {
        background-color: var(--white-color);
      }
    }
  }

  &--grey {
    background-color: var(--black-color);
  }
}
