.form {
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    align-items: center;
    column-gap: 32px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__input-wrapper {
    position: relative;
    width: 100%;

    &--margin {
      margin-bottom: 24px;
    }
  }

  &__placeholder {
    font-size: 16px;
    font-family: 'RobotoRegular';
    opacity: 1;
    color: rgba(62, 58, 57, 0.6);
    background-color: var(--white-color);
    width: calc(100% - 12px);
    position: absolute;
    top: 10px;
    left: 11px;
    z-index: 2;
    height: 16px;
    display: flex;
    align-items: center;
    transition:
      top 0.3s ease-in-out,
      font-size 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    span {
      color: var(--accent-color);
      margin-left: 3px;
    }

    &--small-top {
      top: 20px;
    }

    &--centered {
      top: 17px;
    }
  }

  &__input:focus + .form__placeholder,
  &__input:not(:placeholder-shown) + .form__placeholder {
    font-size: 12px;
    top: 2px;
  }

  &__textarea:focus + .form__placeholder,
  &__textarea:not(:placeholder-shown) + .form__placeholder {
    font-size: 12px;
    top: 2px;
  }

  &__input {
    height: 48px;
  }

  &__textarea {
    resize: none;
    z-index: 1;
    transition: height ease 0.3s;
  }

  &__input,
  &__textarea {
    padding: 21px 11px 8px;
    width: 100%;
    outline: transparent;
    border: 2px solid transparent;
    transition: border-color ease 0.3s;
    font-size: 16px;
    font-family: 'RobotoRegular';
    line-height: 1.2;
    border: 1px solid transparent;

    &::placeholder {
      font-size: 16px;
      font-family: 'RobotoRegular';
      opacity: 0.6;
    }

    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__btn {
    max-width: calc(100% - 17px);
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;

    &--width {
      width: calc(430px - 17px);
      position: relative;
      left: -17px;

      @media screen and (width <= 850px) {
        left: 0;
        width: calc(100% - 17px);
      }
    }
  }

  &__text {
    font-size: 14px;
    font-family: 'RobotoRegular';
    opacity: 0.6;

    &--accent {
      color: var(--accent-color);
      opacity: 1;
    }

    &--width {
      max-width: 286px;
      width: 100%;
    }
  }

  &__dwd-file {
    padding: 16px 0;
    border-top: 1px solid var(--grey-light-bg-color);
    border-bottom: 1px solid var(--grey-light-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dwd-file-left {
    display: flex;
  }

  &__dwd-file-icon {
    margin-right: 8px;
  }

  &__dwd-file-name {
    display: block;
    font-weight: 500;
    font-family: 'RobotoMedium';
    line-height: 1;
  }

  &__dwd-file-descr {
    font-size: 12px;
    font-family: 'RobotoRegular';
    opacity: 0.6;
    line-height: 1;
  }

  &__dwd-file-delete {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  .just-validate-error-label {
    font-size: 12px;
    font-family: 'RobotoRegular';
    margin-top: 10px;
    position: absolute;
    bottom: -16px;
    left: 11px;
  }
}
