.logo {
  display: block;

  &--right-line-black {
    position: relative;
    padding-right: 18px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 1px;
      height: 39px;
      background-color: var(--black-color);
      opacity: 0.4;

      @media screen and (max-width: 1065px) {
        height: 29px;
      }
    }
  }

  &--right-line-white {
    position: relative;
    padding-right: 18px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 1px;
      height: 39px;
      background-color: var(--white-color);
      opacity: 0.4;
    }
  }
}
