.actions-page {
  &__head {
    background-color: var(--grey-light-bg-color);
    padding: 156px 0 16px;
    margin-bottom: 40px;
    overflow: hidden;

    @media screen and (width <= 1100px) {
      position: relative;
    }

    @media screen and (width <= 768px) {
      padding-top: 80px;
    }
  }

  &__head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__head-pic {
    @media screen and (width <= 768px) {
      width: 120px;
      height: 120px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;

    @media screen and (width <= 990px) {
      margin-bottom: 60px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 64px;

    @media screen and (width <= 990px) {
      margin-bottom: 50px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 80px;

    @media screen and (width <= 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @media screen and (width <= 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
