.blog-article-page {
  &__head {
    background-color: var(--grey-light-bg-color);
    padding: 156px 0 24px;
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      padding: 80px 0 16px;
      margin-bottom: 32px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;

    @media screen and (width <= 990px) {
      margin-bottom: 60px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      margin-bottom: 24px;
    }
  }

  &__banner {
    margin-bottom: 24px;

    @media screen and (width <= 768px) {
      margin-bottom: 16px;
    }
  }

  &__head-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    display: flex;
    align-items: center;
    font-family: 'RobotoMedium';
    font-size: 16px;
    opacity: 0.6;

    svg {
      margin: 0 4px 4px 0;
    }
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__social-text {
    opacity: 0.6;
    font-family: 'RobotoMedium';
    font-size: 16px;
    margin: 3px 16px 0 0;

    @media screen and (width <= 768px) {
      display: none;
    }
  }

  &__socials {
    display: flex;
    column-gap: 8px;
  }

  &__content {
    padding: 0 160px 80px 160px;

    @media screen and (width <= 990px) {
      padding: 0 0 56px 0;
    }
  }

  &__subtitle {
    font-family: 'OswaldSemiBold';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
    line-height: 1.2;

    @media screen and (width <= 768px) {
      font-size: 18px;
    }
  }

  &__image {
    margin-bottom: 40px;
  }

  &__table-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 35px;
    font-family: 'RobotoSemiBold';
  }

  &__text-block {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__text-list {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-top: 1px solid var(--grey-dark-bg-color);
    border-bottom: 1px solid var(--grey-dark-bg-color);
  }

  &__hash {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    font-family: 'OswaldSemiBold';
  }

  &__table-wrapper {
    background-color: var(--grey-light-bg-color);
    padding: 16px;
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      overflow: visible;
    }
  }

  &__table {
    width: 100%;

    @media screen and (width <= 768px) {
      display: inline-flex;
      flex-wrap: wrap;
      overflow-x: auto;
      flex-direction: column;
    }

    th,
    td {
      max-width: 270px;
      width: 100%;
      padding: 0;
      text-align: left;

      @media screen and (width <= 768px) {
        max-width: auto;
        width: 270px;
        font-size: 16px;

        white-space: nowrap;
        overflow: hidden;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__table-head {
    margin-bottom: 16px;
    display: block;
  }

  &__table-head-row {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--black-color);
    display: flex;
    justify-content: space-between;

    @media screen and (width <= 768px) {
      font-size: 14px;
    }
  }

  &__table-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'RobotoBold';
    text-align: left;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-dark-bg-color);
      padding-bottom: 16px;
      margin-bottom: 16px;
    }

    td {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      font-family: 'RobotoRegular';
    }
  }
}
