.delivery-page {
  &__head {
    background-color: var(--grey-light-bg-color);
    padding: 156px 0 80px;
    overflow: hidden;

    @media screen and (width <= 1100px) {
      position: relative;
    }

    @media screen and (width <= 768px) {
      padding-top: 80px;
    }
  }

  &__head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__head-pic {
    @media screen and (width <= 768px) {
      display: none;
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;

    @media screen and (width <= 990px) {
      margin-bottom: 60px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__content {
    padding: 64px 0 80px;

    @media screen and (width <= 768px) {
      padding: 56px 0 56px;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__text-block {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text-list {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__video-block {
    display: flex;
    column-gap: 32px;
    border-bottom: 1px solid #d8d8d7;
    padding-bottom: 80px;
    margin-bottom: 80px;

    @media screen and (width <= 990px) {
      flex-direction: column;
      row-gap: 16px;
      padding-bottom: 56px;
      margin-bottom: 56px;
    }
  }

  &__video {
    width: 100%;

    @media screen and (width <= 768px) {
      height: 223px;
    }
  }

  &__section-subtitle {
    margin-bottom: 16px;
  }

  &__leasing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 24px;

    @media screen and (width <= 990px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <= 768px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 8px;
    }
  }

  &__leasing-item {
    background-color: var(--grey-light-bg-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
  }

  &__leasing-img {
    height: 40px;
    object-fit: contain;
    align-self: flex-start;
    margin-bottom: 80px;

    @media screen and (width <= 768px) {
      margin-bottom: 32px;
    }
  }

  &__leasing-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: 'OswaldBold';
  }

  &__leasing-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'RobotoRegular';
  }

  &__details {
    @media screen and (width <= 768px) {
      justify-content: center;
      width: calc(100% - 20px);
    }
  }
}
