.manuals {
  &__head {
    background-color: var(--grey-light-bg-color);
    padding: 156px 0 40px;

    @media screen and (width <= 1024px) {
      padding: 88px 0 24px;
    }

    @media screen and (width <= 768px) {
      padding: 80px 0 56px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;

    @media screen and (width <= 1024px) {
      margin-bottom: 60px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__content {
    padding: 64px 0 80px;

    @media screen and (width <= 768px) {
      padding: 56px 0;
      margin-bottom: 40px;
    }
  }

  &__content-wrapper {
    display: flex;
    column-gap: 32px;
    margin-bottom: 64px;

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__service-card {
    max-width: 286px;
    width: 100%;

    @media screen and (width <= 768px) {
      display: none;
    }
  }

  &__files {
    max-width: 922px;
    width: 100%;
  }

  &__title {
    margin-bottom: 64px;

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }
}
