.news-article-page {
  &__head {
    padding-top: 40px;
    background-color: var(--grey-light-bg-color);
    height: 622px;
    margin-bottom: 156px;

    @media screen and (width <= 1150px) {
      margin-bottom: 30px;
      height: auto;
    }

    @media screen and (width <= 768px) {
      height: 340px;
      margin-bottom: 110px;
    }

    @media screen and (width <= 576px) {
      margin-bottom: 70px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;

    @media screen and (width <= 1100px) {
      margin-bottom: 60px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      margin-bottom: 24px;
    }
  }

  &__head-bot {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--grey-light-bg-color);
      position: absolute;
    }

    &::after {
      bottom: 0;
      left: 0;
    }

    @media screen and (width <= 768px) {
      padding: 16px 0;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    font-family: 'RobotoMedium';
    font-size: 16px;
    opacity: 0.6;

    svg {
      margin-right: 4px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__social-text {
    opacity: 0.6;
    font-family: 'RobotoMedium';
    font-size: 16px;
    margin-right: 16px;

    @media screen and (width <= 768px) {
      display: none;
    }
  }

  &__socials {
    display: flex;
    column-gap: 8px;
  }

  &__content {
    position: relative;
    padding: 40px 160px 80px 160px;

    @media screen and (width <= 1100px) {
      padding: 32px 0 58px 0px;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--grey-light-bg-color);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__subtitle {
    font-family: 'OswaldSemiBold';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
    line-height: 1.2;

    @media screen and (width <= 768px) {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  &__text-block {
    &:not(:last-child) {
      margin-bottom: 40px;

      @media screen and (width <= 768px) {
        margin-bottom: 32px;
      }
    }
  }

  &__text {
    font-family: 'RobotoRegular';
    color: var(--black-text-color);
    opacity: 1;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__accent-text {
    background-color: var(--grey-light-bg-color);
    font-family: 'RobotoMedium';
    line-height: 1.4;
    padding: 40px;
    margin-bottom: 40px;
    position: relative;

    @media screen and (width <= 768px) {
      padding: 16px;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__service {
    background-color: var(--grey-light-bg-color);
    padding: 24px 19px 24px 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      padding: 16px;
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  &__service-title {
    font-family: 'OswaldSemiBold';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
    line-height: 1.2;
  }

  &__service-text {
    font-size: 16px;
    line-height: 1.4;
    opacity: 0.6;
    font-family: 'RobotoRegular';
    margin-bottom: 16px;
    max-width: 604px;
    width: 100%;
  }

  &__service-link {
    color: var(--accent-color);
    font-family: 'RobotoSemiBold';
    display: flex;
    align-items: center;

    @media screen and (width <= 768px) {
      margin-bottom: 24px;
    }

    svg {
      margin-left: 8px;
    }
  }

  &__service-img {
    @media screen and (width <= 768px) {
      width: 174px;
      height: 174px;
    }
  }

  &__technic-card {
    margin-bottom: 40px;
  }

  p {
    @media screen and (width <= 768px) {
      font-size: 16px;
    }
  }
}
