.product {
  &__head {
    padding: 40px 0;
    background-color: var(--grey-light-bg-color);

    @media screen and (width <= 768px) {
      padding: 16px 0 56px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;

    @media screen and (width <= 1024px) {
      margin-bottom: 60px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @media screen and (width <= 768px) {
      margin-bottom: 16px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      flex-direction: column;
      padding-bottom: 16px;
      margin-bottom: 16px;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--grey-color);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__text {
    font-size: 16px;
    font-family: 'RobotoRegular';
    opacity: 0.6;
    margin-right: 15px;

    @media screen and (width <= 768px) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__flags {
    flex-shrink: 0;
    display: flex;
    column-gap: 16px;
    align-self: flex-start;

    @media screen and (width <= 768px) {
      width: 100%;
    }
  }

  &__flag {
    font-size: 14px;
    font-family: 'RobotoMedium';
    color: var(--white-color);
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--black {
      background-color: var(--black-text-color);
    }

    &--green {
      background-color: var(--green-color);
    }
  }

  &__print-btn {
    @media screen and (width <= 768px) {
      margin-left: auto;
    }

    svg {
      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: var(--accent-color);
        }
      }
    }
  }

  &__specifications {
    max-width: 445px;
    width: 100%;

    @media screen and (width <= 1024px) {
      max-width: 100%;
    }
  }

  &__specifications-list {
    margin-bottom: 68px;

    @media screen and (width <= 1024px) {
      margin-bottom: 30px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 16px;
    }
  }

  &__specifications-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding-bottom: 16px;
    position: relative;

    @media screen and (width <= 768px) {
      font-size: 14px;
      padding-bottom: 7px;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--grey-color);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media screen and (width <= 768px) {
        margin-bottom: 7px;
      }
    }
  }

  &__specifications-item-left {
    display: flex;
    align-items: center;
    font-family: 'RobotoRegular';
    opacity: 0.6;
    margin-right: 10px;

    svg {
      margin-right: 4px;
    }
  }

  &__specifications-item-right {
    font-family: 'RobotoSemiBold';
  }

  &__specifications-price {
    display: block;
    font-size: 24px;
    font-family: 'OswaldBold';
    text-transform: uppercase;
    margin-bottom: 24px;

    @media screen and (width <= 768px) {
      margin-bottom: 16px;
      font-size: 18px;
    }
  }

  &__specifications-price-name {
    opacity: 0.6;

    @media screen and (width <= 768px) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media screen and (width <= 1024px) {
      flex-direction: column;
    }
  }

  &__slider {
    width: 100%;

    @media screen and (width <= 1024px) {
      margin-bottom: 16px;
    }
  }

  &__slider-wrapper {
    display: flex;

    @media screen and (width <= 768px) {
      margin-left: auto;
      flex-direction: column-reverse;
    }
  }

  &__swiper-thumbs {
    height: 316px;
    width: 127px;

    @media screen and (width <= 768px) {
      height: auto;
      width: 105%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;

      @media screen and (width <= 576px) {
        height: 76px;
        width: 76px;
      }

      .product__img {
        height: 95px;
        width: 127px;
        object-fit: contain;

        @media screen and (width <= 576px) {
          height: 76px;
          width: 76px;
        }
      }
    }

    .product__img {
      cursor: pointer;
    }
  }

  &__swiper {
    max-width: 604px;
    width: 100%;
    margin-right: 32px;

    @media screen and (width <= 768px) {
      margin-bottom: 8px;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;

      .product__img {
        max-height: 440px;

        @media screen and (width <= 768px) {
          max-height: 250px;
        }
      }
    }
  }

  &__swiper-next,
  &__swiper-prev {
    display: none;

    @media screen and (width <= 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__swiper-prev {
    left: -5px;
  }

  &__swiper-next {
    right: -5px;
  }

  &__specifications-buy-btn {
    justify-content: center;
    align-items: center;
    max-width: 286px;
    width: 100%;

    @media screen and (width <= 768px) {
      max-width: 100%;
    }
  }

  &__tabs {
    padding: 80px 0;

    @media screen and (width <= 768px) {
      padding: 40px 0;
    }

    .tabs__content-wrap {
      display: flex;
      column-gap: 32px;

      @media screen and (width <= 768px) {
        flex-direction: column;
      }
    }

    .tabs__content-inner {
      max-width: 922px;
      width: 100%;

      @media screen and (width <= 768px) {
        margin-bottom: 40px;
        width: 100%;
      }
    }
  }

  &__tabs-title {
    font-family: 'OswaldSemiBold';
    margin-bottom: 24px;
    text-transform: uppercase;

    @media screen and (width <= 768px) {
      font-size: 18px;
    }
  }

  &__text-list,
  &__text-block {
    font-size: 16px;
  }

  &__text-block {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__text-list {
    margin-bottom: 12px;
  }

  &__service-card {
    max-width: 286px;

    @media screen and (width <= 768px) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__tabs-table {
    max-width: 922px;
    width: 100%;

    @media screen and (width <= 768px) {
      margin-bottom: 40px;

      .table__row {
        font-size: 14px;
      }
    }
  }
}
