.warranty-article {
  &__head {
    background-color: var(--grey-light-bg-color);
    padding: 40px 0 80px;

    @media screen and (width <= 1024px) {
      padding: 24px 0 70px;
    }

    @media screen and (width <= 768px) {
      padding: 16px 0 56px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;

    @media screen and (width <= 1024px) {
      margin-bottom: 60px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__content-wrapper {
    margin-bottom: 65px;
    max-width: 763px;
    width: 100%;

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__inner {
    padding: 65px 0 80px 0;

    @media screen and (width <= 768px) {
      padding: 56px 0;
    }
  }

  &__link-block {
    width: calc(100% - 40px);
  }
}
