.news-card {
  display: flex;
  flex-direction: column;
  min-height: 444px;
  width: 100%;

  &__more {
    margin-top: auto;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: color 0.3s;

    @media screen and (width <= 768px) {
      font-size: 16px;
    }

    &:hover {
      .news-card__title {
        color: var(--accent-color);
      }

      .news-card__more {
        color: var(--accent-color);
      }

      .news-card__icon {
        path {
          stroke: var(--accent-color);
        }
      }
    }
  }

  &--bg-grey {
    background-color: var(--grey-light-bg-color);

    .news-card__img {
      margin-bottom: 0;
    }

    .news-card__content {
      padding: 24px;

      @media screen and (width <= 768px) {
        padding: 12px;
      }
    }

    .news-card__more {
      color: var(--accent-color);
      font-family: 'RobotoSemiBold';
      text-transform: none;
      font-size: 18px;
      margin-top: auto;

      svg {
        path {
          stroke: var(--accent-color);
        }
      }
    }
  }

  &--news-page {
    background-color: var(--grey-light-bg-color);
    min-height: auto;

    .news-card__link {
      display: flex;
      align-items: center;

      @media screen and (width <= 990px) {
        flex-direction: column;
      }
    }

    .news-card__img {
      width: 373px;
      height: 201px;
      margin-bottom: 0;

      @media screen and (width <= 990px) {
        width: 100%;
      }
    }

    .news-card__more {
      font-family: 'RobotoSemiBold';
      text-transform: none;
      font-size: 18px;

      svg {
        path {
          stroke: var(--accent-color);
        }
      }
    }
  }

  svg {
    path {
      transition: all 0.3s;
    }
  }

  &__link {
    &:hover {
      .news-card__more {
        color: var(--accent-color);

        svg {
          path {
            stroke: var(--accent-color);
          }
        }
      }

      .news-card__title {
        color: var(--accent-color);
      }
    }
  }

  &__body {
    padding: 32px;

    @media screen and (width <= 990px) {
      padding: 16px;
    }
  }

  &__img-wrapper {
    flex-shrink: 0;
    padding: 32px 0 32px 32px;

    @media screen and (width <= 990px) {
      padding: 0;
      flex-shrink: 1;
      width: 100%;
    }
  }

  @media screen and (width <= 768px) {
    min-height: auto;
  }

  &__img {
    width: 100%;
    margin-bottom: 16px;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__date {
    color: var(--accent-color);
    margin-bottom: 16px;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'RobotoBold';

    svg {
      margin-right: 4px;
    }
  }

  &__title {
    font-family: 'OswaldBold';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: color 0.3s;

    @media screen and (width <= 768px) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 16px;
    font-family: 'RobotoRegular';
    margin-bottom: 16px;
    opacity: 0.6;
    align-self: flex-end;
  }

  &__icon {
    margin-left: 8px;
  }
}
