.service-card {
  background-color: var(--grey-light-bg-color);
  width: 100%;
  height: 100%;
  overflow: hidden;

  &--dark {
    background-color: var(--black-text-color);
    color: var(--white-color);

    .service-card__more {
      background-color: var(--accent-color);
      clip-path: polygon(0 30%, 20% 0, 100% 0, 100% 100%, 0% 100%);
      width: 73px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -24px;
      right: -24px;
    }
  }

  &__link {
    height: 100%;
    padding: 24px;
    display: block;
    position: relative;

    @media screen and (width <= 576px) {
      padding: 12px 8px;
    }

    &:hover {
      .service-card__overlay {
        opacity: 1;
        transform: scale(1000) translateZ(0);
      }

      .service-card__title,
      .service-card__text,
      .service-card__more {
        color: var(--white-color);
      }

      .service-card__icon {
        path {
          stroke: var(--white-color);
        }
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 60%;
    right: 38%;
    width: 1px;
    height: 1px;
    opacity: 0;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition:
      transform 0.4s ease-out,
      opacity 0.3s;
    z-index: 1;

    @media screen and (width <= 576px) {
      top: 50%;
      right: 50%;
    }
  }

  &__more {
    font-family: 'OswaldSemiBold';
    font-size: 20px;
    text-transform: uppercase;
    margin-top: auto;
    display: flex;
    align-items: center;

    @media screen and (width <= 576px) {
      font-size: 16px;
    }
  }

  &__body {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: 'OswaldBold';
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 16px;
    transition: color 0.3s;

    @media screen and (width <= 576px) {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  &__text {
    font-family: 'RobotoRegular';
    font-size: 16px;
    margin-bottom: 25px;
    flex: 1;
    transition: color 0.3s;

    @media screen and (width <= 576px) {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }

  &__img {
    align-self: flex-end;
    margin-bottom: 40px;
    position: relative;
    object-fit: contain;
    z-index: 3;

    @media screen and (width <= 576px) {
      align-self: center;
      margin-bottom: 16px;
      width: 147px;
      height: 132px;
    }
  }

  &__icon {
    margin-left: 8px;
  }
}
