<section class="about">
  <ul class="container">

    <h2 class="about__subtitle title-block">ООО «ТЕХНОТРЕЙД» — официальный дистрибьютор техники DINGLI в России и снг
    </h2>

    <div class="about__wrapper">
      <div class="about__left">

        <p class="about__text">
          DINGLI–одно из крупнейших предприятий в Китае по производству подъемников, основано в 2005 году. Производитель
          входит в ТОП-3 производителей высотных рабочих платформ в мире и занимается разработкой, производством,
          продажей
          и обслуживанием различных высококачественных подъёмников под брэндами DINGLI, MAGNI и CMEC.
        </p>

        <p class="about__text">Многоуровневый контроль качества и проверок во время производства. Используемые при
          изготовлении исключительно высококачественные материалы и многолетний опыт обеспечивают надежную, безопасную и
          эффективную работу подъемников. Вся линейка продукции имеет сертификаты качества и безопасности по стандартам
          CE
          в Европе, стандартам ANSI в США, стандартам AS/NZS1418 в Австралии, стандартам СТ-TR в России, стандартам KC в
          Южной Корее.
        </p>

        <div class="about__details-wrap">
          <a class="about__details button button--white cropped-corner" href="#">
            Узнать подробнее

            <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
            </svg>
          </a>


          <a class="about__details-catalog" href="#">
            Скачать каталог

            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M17.7812 10.9761L12.0004 15.6008L6.21951 10.9761L7.78125 9.02391L10.7504 11.3992L10.7504 3L13.2504 3L13.2504 11.3992L16.2195 9.02391L17.7812 10.9761Z"
                fill="white" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 15H5.25V18.75H18.75V15H21.25V21.25H2.75V15Z"
                fill="white" />
            </svg>
          </a>
        </div>
      </div>

      <picture class="about__img">
        <source srcset="img/about/about-img.jpg" type="image/webp" />
        <img class="about__pic" src="img/about/about-img.jpg" alt="Картинка" decoding="async" />
      </picture>
    </div>

    <ul class="about__achievements">
      <li class="about__achievements-item">
        <span class="about__achievements-top">>3000</span>
        <span class="about__achievements-bot">единиц поставленной техники</span>
      </li>
      <li class="about__achievements-item">
        <span class="about__achievements-top">>50</span>
        <span class="about__achievements-bot">единиц техники в наличии</span>
      </li>

      <li class="about__achievements-item">
        <span class="about__achievements-top">24/7</span>
        <span class="about__achievements-bot">сервисная служба</span>
      </li>
      <li class="about__achievements-item">
        <span class="about__achievements-top">до 5 лет</span>
        <span class="about__achievements-bot">расширенная гарантия</span>
      </li>
    </ul>
    </div>
</section>