<section class="blog-page">
  <div class="blog-page__head">
    <div class="container">
      <div class="blog-page__head-wrapper">
        <div class="blog-page__left">
          <div class="blog-page__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="index.html">Главная</a>
              </li>

              <li class="breadcrumbs__item breadcrumbs__item--active">
                <span>Блог</span>
              </li>
            </ul>
          </div>

          <h1 class="blog-page__title section-title">Блог компании</h1>
        </div>

        <img class="blog-page__head-pic" src="img/hero/hero-bg.svg" alt="Картинка">
      </div>
    </div>
  </div>

  <div class="blog-page__wrapper">
    <div class="container">
      <div class="blog-page__content">

        <ul class="blog-page__list">
          <li class="blog-page__item">
            <article class="blog-card">
              <a class="blog-card__link" href="#">
                <img class="blog-card__img" src="img/blog/1.jpg" alt="Картинка">

                <div class="blog-card__wrapper">
                  <time class="blog-card__date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                        fill="#ed6c00"></path>
                    </svg>3 декабря 2024</time>

                  <h3 class="blog-card__title">Подъемники ножничного типа: конструкция, преимущества и модели</h3>

                  <p class="blog-card__descr">Подъемники ножничного типа – это универсальное оборудование, незаменимое
                    для выполнения высотных работ в строительстве, логистике, техническом обслуживании и других
                    отраслях. Их уникальная конструкция обеспечивает устойчивость, безопасность и высокую
                    грузоподъемность, что делает их популярным выбором среди профессионалов.</p>

                  <span class="blog-card__more" href="#">Читать полностью
                    <svg class="blog-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
                    </svg>
                  </span>
                </div>
              </a>
            </article>
          </li>

          <li class="blog-page__item">
            <article class="blog-card">
              <a class="blog-card__link" href="#">
                <img class="blog-card__img" src="img/blog/2.jpg" alt="Картинка">

                <div class="blog-card__wrapper">
                  <time class="blog-card__date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                        fill="#ed6c00"></path>
                    </svg>3 декабря 2024</time>

                  <h3 class="blog-card__title">Коленчатые подъемники - виды и классификация</h3>

                  <p class="blog-card__descr">Коленчатые подъемники представляют собой универсальное оборудование для
                    выполнения работ на высоте, особенно в условиях ограниченного пространства. Их особенность –
                    шарнирная стрела, которая позволяет обходить препятствия и работать под разными углами. Такая
                    конструкция делает их востребованными в строительной отрасли, логистике и сфере коммунального
                    обслуживания.</p>

                  <span class="blog-card__more" href="#">Читать полностью
                    <svg class="blog-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
                    </svg>
                  </span>
                </div>
              </a>
            </article>
          </li>

          <li class="blog-page__item">
            <article class="blog-card">
              <a class="blog-card__link" href="#">
                <img class="blog-card__img" src="img/blog/3.jpg" alt="Картинка">

                <div class="blog-card__wrapper">
                  <time class="blog-card__date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                        fill="#ed6c00"></path>
                    </svg>3 декабря 2024</time>

                  <h3 class="blog-card__title">Коленчатые подъемники - для чего они нужны, конструкция и сфера
                    применения</h3>

                  <p class="blog-card__descr">Коленчатые подъемники – это универсальная спецтехника, предназначенная
                    для
                    работы на высоте в труднодоступных местах. Их главной особенностью является шарнирно-сочлененная
                    конструкция стрелы, которая позволяет выполнять работы под углом, огибая препятствия.</p>

                  <span class="blog-card__more" href="#">Читать полностью
                    <svg class="blog-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
                    </svg>
                  </span>
                </div>
              </a>
            </article>
          </li>

          <li class="blog-page__item">
            <article class="blog-card">
              <a class="blog-card__link" href="#">
                <img class="blog-card__img" src="img/blog/4.jpg" alt="Картинка">

                <div class="blog-card__wrapper">
                  <time class="blog-card__date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                        fill="#ed6c00"></path>
                    </svg>3 декабря 2024</time>

                  <h3 class="blog-card__title">Ножничные подъемники — для чего они нужны, устройство, конструкция и
                    сферы применения</h3>

                  <p class="blog-card__descr">Ножничные подъемники – это механизмы, предназначенные для подъема людей
                    и
                    грузов на высоту с помощью перекрещивающихся рычагов, которые напоминают ножницы. Они широко
                    применяются в строительстве, складской логистике и на производственных объектах, обеспечивая
                    безопасность и удобство при выполнении высотных работ.</p>

                  <span class="blog-card__more" href="#">Читать полностью
                    <svg class="blog-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
                    </svg>
                  </span>
                </div>
              </a>
            </article>
          </li>

          <li class="blog-page__item">
            <article class="blog-card">
              <a class="blog-card__link" href="#">
                <img class="blog-card__img" src="img/blog/5.jpg" alt="Картинка">

                <div class="blog-card__wrapper">
                  <time class="blog-card__date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                        fill="#ed6c00"></path>
                    </svg>3 декабря 2024</time>

                  <h3 class="blog-card__title">Ножничные подъемники - виды и классификация</h3>

                  <p class="blog-card__descr">Ножничные подъемники – это специализированные устройства, используемые
                    для
                    вертикального подъема людей и грузов на высоту. Их конструкция основана на принципе
                    перекрещивающихся рычагов, что обеспечивает высокую устойчивость и безопасность при выполнении
                    работ
                    на различных высотах.</p>

                  <span class="blog-card__more" href="#">Читать полностью
                    <svg class="blog-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
                    </svg>
                  </span>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </div>
</section>