<section class="catalog catalog--bg-white">
  <div class="container">
    <div class="catalog__head">
      <h2 class="catalog__title title-block">Подъемники DINGLI</h2>

      <a class="catalog__details button button--orange cropped-corner" href="#">Посмотреть все
        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
        </svg>
      </a>
    </div>

    <p class="catalog__text">Официальный сайт дистрибьютора подъемников Dingli в России. Продажа самоходной подъемной
      техники с доставкой по Москве и регионам. </p>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <h3 class="catalog-product__title">Ножничные</h3>

            <span class="catalog-product__models">9 моделей</span>

            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog/nozh.png" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog/nozh.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <span class="catalog-product__more" href="#">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
              </svg>
            </span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <h3 class="catalog-product__title">Коленчатые</h3>

            <span class="catalog-product__models">9 моделей</span>

            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog/kolen.png" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog/kolen.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <span class="catalog-product__more" href="#">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
              </svg>
            </span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <h3 class="catalog-product__title">Телескопические</h3>

            <span class="catalog-product__models">9 моделей</span>

            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog/telescop.png" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog/telescop.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <span class="catalog-product__more" href="#">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
              </svg>
            </span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <h3 class="catalog-product__title">Мачтовые</h3>

            <span class="catalog-product__models">9 моделей</span>

            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog/machta.png" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog/machta.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <span class="catalog-product__more" href="#">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
              </svg>
            </span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <h3 class="catalog-product__title">Самоходные</h3>

            <span class="catalog-product__models">9 моделей</span>

            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog/samohod.png" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog/samohod.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <span class="catalog-product__more" href="#">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
              </svg>
            </span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <h3 class="catalog-product__title">Строительные погрузчики</h3>

            <span class="catalog-product__models">9 моделей</span>

            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog/stroitelnie.png" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog/stroitelnie.png" alt="Фото машины"
                  decoding="async" />
              </picture>
            </div>

            <span class="catalog-product__more" href="#">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
              </svg>
            </span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <h3 class="catalog-product__title">Cкладские погрузчики</h3>

            <span class="catalog-product__models">9 моделей</span>

            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog/skladskie.png" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog/skladskie.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <span class="catalog-product__more" href="#">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
              </svg>
            </span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="service-card">
          <a class="service-card__link" href="#">
            <div class="service-card__body">
              <h4 class="service-card__title">Подбор по&nbsp;<br> параметрам</h4>
              <p class="service-card__text">Поможем выбрать подъемник, который подходит именно Вам</p>

              <img class="service-card__img" loading="lazy" src="img/services/search.png" width="156" height="156"
                alt="Поиск">

              <span class="service-card__more">Подробнее
                <svg class="service-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
                </svg>
              </span>
            </div>

            <div class="service-card__overlay"></div>
          </a>
        </article>
      </li>
    </ul>

    <a class="catalog__details catalog__details--mobile button button--orange cropped-corner" href="#">Посмотреть все
      <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
      </svg>
    </a>
  </div>
</section>