<div class="popup graph-modal">
  <div class="popup__container graph-modal__container" role="dialog" aria-modal="true" data-graph-target="city-modal">

    <div class="graph-modal__content">

      <h3 class="popup__title title">Выберите город</h3>

      <div class="popup__wrapper">

        <ul class="popup__city-list">
          <li class="popup__city-item"><a class="popup__city-link" href="#">Москва</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Санкт-Петербург</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Ростов-на-Дону</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Казань</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Краснодар</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Новосибирск</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Екатеринбург</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Самара</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Пермь</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Нижний Новгород</a></li>
        </ul>

        <ul class="popup__city-list">
          <li class="popup__city-item"><a class="popup__city-link" href="#">Челябинск</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Владивосток</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Уфа</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Ставрополь</a></li>
          <li class="popup__city-item"><a class="popup__city-link" href="#">Симферополь</a></li>
        </ul>
      </div>
    </div>

    <p class="popup__city-text">Не нашли свой город? У нас есть <a class="popup__delivery" href="#">доставка по России и
        странам СНГ</a>.</p>

    <button class="popup__btn btn-reset js-modal-close" aria-label="Закрыть модальное окно">
      <div class="hamburger-lines hamburger-lines--active hamburger-lines--dark">
        <span class="hamburger-lines__line line1"></span>
        <span class="hamburger-lines__line line2"></span>
        <span class="hamburger-lines__line line3"></span>
      </div>
    </button>
  </div>
</div>