<section class="clients">
  <div class="container">
    <div class="clients__wrapper">
      <h2 class="clients__title title-block">Клиенты</h2>

      <div class="clients__slider-wrapper">
        <div class="clients__slider swiper">
          <ul class="clients__list swiper-wrapper">
            <li class="clients__item swiper-slide">
              <img src="img/clients/fortrent.png" alt="Лого">
            </li>
            <li class="clients__item swiper-slide">
              <img src="img/clients/euro.png" alt="Лого">
            </li>
            <li class="clients__item swiper-slide">
              <img src="img/clients/pekka.png" alt="Лого">
            </li>
            <li class="clients__item swiper-slide">
              <img src="img/clients/renteh.png" alt="Лого">
            </li>
            <li class="clients__item swiper-slide">
              <img src="img/clients/euro.png" alt="Лого">
            </li>
            <li class="clients__item swiper-slide">
              <img src="img/clients/pekka.png" alt="Лого">
            </li>
            <li class="clients__item swiper-slide">
              <img src="img/clients/renteh.png" alt="Лого">
            </li>
          </ul>
        </div>

        <div class="clients__slider-mobile swiper">
          <ul class="clients__slider-grid swiper-wrapper">
            <li class="clients__slider-grid-item swiper-slide">
              <ul class="clients__slider-grid">
                <li class="clients__slider-grid-item swiper-slide">
                  <img src="img/clients/renteh.png" alt="Лого">
                </li>
                <li class="clients__slider-grid-item swiper-slide">
                  <img src="img/clients/euro.png" alt="Лого">
                </li>
                <li class="clients__slider-grid-item swiper-slide">
                  <img src="img/clients/pekka.png" alt="Лого">
                </li>
                <li class="clients__slider-grid-item swiper-slide">
                  <img src="img/clients/renteh.png" alt="Лого">
                </li>
              </ul>
            </li>

            <li class="clients__slider-grid-item swiper-slide">
              <ul class="clients__slider-grid">
                <li class="clients__slider-grid-item swiper-slide">
                  <img src="img/clients/renteh.png" alt="Лого">
                </li>
                <li class="clients__slider-grid-item swiper-slide">
                  <img src="img/clients/euro.png" alt="Лого">
                </li>
                <li class="clients__slider-grid-item swiper-slide">
                  <img src="img/clients/pekka.png" alt="Лого">
                </li>
                <li class="clients__slider-grid-item swiper-slide">
                  <img src="img/clients/renteh.png" alt="Лого">
                </li>
              </ul>
            </li>

          </ul>
        </div>

        <div class="clients__slider-controls">
          <button class="clients__slider-controls-prev slider-control slider-control--prev" aria-label="Назад">
            <svg width="15" height="15" viewBox="0 0 22 24" fill="none">
              <path d="M0.31248 12H20M20 12L9.5 1.5M20 12L9.5 22.5" stroke="#3E3A39" stroke-width="2.5"></path>
            </svg>
          </button>

          <div class="clients__pagination slider-pagination"></div>
          <div class="clients__pagination-mobile slider-pagination"></div>

          <button class="clients__slider-controls-next slider-control slider-control--next" aria-label="Назад">
            <svg width="15" height="15" viewBox="0 0 22 24" fill="none">
              <path d="M0.31248 12H20M20 12L9.5 1.5M20 12L9.5 22.5" stroke="#3E3A39" stroke-width="2.5"></path>
            </svg>
          </button>
        </div>
      </div>


    </div>
</section>
