<section class="contacts">
  <div class="contacts__head">
    <ul class="container">

      <div class="contacts__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Контакты</span>
          </li>
        </ul>
      </div>

      <div class="contacts__wrapper">
        <div class="contacts__content">
          <h1 class="contacts__title">Контакты</h1>

          <p class="contacts__text">ООО «ТЕХНОТРЕЙД» — официальный дистрибьютор подъемников Dingli в России,
            Узбекистане, Казахстане, Беларуси,
            Киргизии и Армении</p>
        </div>

        <div class="contacts__form">
          <form class="form" id="contacts-form" action="#">
            <div class="form__block">
              <div class="form__input-wrapper">
                <input class="form__input input-name" type="text" id="name" placeholder="" data-validate-field="name">
                <label class="form__placeholder" for="name">Ваше имя</label>
              </div>

              <div class="form__input-wrapper">
                <input class="form__input input-mail" type="text" id="email" placeholder="" data-validate-field="mail">
                <label class="form__placeholder" for="email">Эл. почта</label>
              </div>
            </div>

            <div class="form__block">
              <div class="form__input-wrapper">
                <input class="form__input input-tel" type="tel" id="phone" placeholder="" data-validate-field="phone">
                <label class="form__placeholder" for="phone">Телефон</label>
              </div>

              <div class="form__input-wrapper">
                <input class="form__input input-company" type="text" id="company" placeholder=""
                  data-validate-field="company">
                <label class="form__placeholder" for="company">Компания</label>
              </div>
            </div>

            <div class="form__input-wrapper form__input-wrapper--margin">
              <textarea class="form__textarea input-textarea" id="textarea" placeholder=""
                data-validate-field="textarea"></textarea>
              <label class="form__placeholder" for="textarea">Комментарий</label>
            </div>

            <div class="form__block">
              <span class="form__text form__text-width">Оставляя заявку, вы&nbsp;даете согласие на&nbsp;обработку
                персональных
                данных</span>
              <button class="form__btn form__btn--width button button--orange cropped-corner">
                Оставить заявку
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
                </svg>

              </button>
            </div>
          </form>
        </div>
      </div>

      <ul class="contacts__requisites">
        <li class="contacts__requisites-item">
          <span class="contacts__requisites-name">Телефон</span>
          <a class="contacts__requisite contacts__requisite--link" href="phone:+78006003944">+ 7 (800) 600-39-44</a>

        </li>

        <li class="contacts__requisites-item">
          <span class="contacts__requisites-name">Почта</span>
          <a class="contacts__requisite contacts__requisite--link" href="mailto:info@rudingli.ru">info@rudingli.ru</a>
        </li>

        <li class="contacts__requisites-item">
          <span class="contacts__requisites-name">ИНН/КПП</span>
          <span class="contacts__requisite">7703725518/770301001</span>
        </li>

        <li class="contacts__requisites-item">
          <span class="contacts__requisites-name">ОГРН</span>
          <span class="contacts__requisite">1107746607044</span>
        </li>
      </ul>

  </div>

  <div class="container">
    <div class="contacts__tabs tabs">
      <div class="tabs__head">
        <ul class="tabs__nav">
          <li class="tabs__nav-item tabs__nav-item--active" data-target="1"><button class="tabs__nav-btn">Головной
              офис</button></li>
          <li class="tabs__nav-item" data-target="2"><button class="tabs__nav-btn">Сервис и запчасти (МСК)</button>
          </li>
          <li class="tabs__nav-item" data-target="3"><button class="tabs__nav-btn">Сервис и запчасти (СПБ)</button>
          </li>
          <div class="tabs__underline"></div>
        </ul>
      </div>
      <ul class="tabs__content">
        <li class="tabs__panel tabs__panel--active" id="1">
          <div class="tabs__content-wrap">
            <ul class="tabs__list">
              <li class="tabs__item"><span><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.5895 19.998C14.9861 17.8888 19.25 13.5795 19.25 9.625C19.25 7.43696 18.3808 5.33854 16.8336 3.79137C15.2865 2.24419 13.188 1.375 11 1.375C8.81196 1.375 6.71354 2.24419 5.16637 3.79137C3.61919 5.33854 2.75 7.43696 2.75 9.625C2.75 13.5795 7.0125 17.8888 9.4105 19.998C9.8479 20.3884 10.4137 20.6042 11 20.6042C11.5863 20.6042 12.1521 20.3884 12.5895 19.998ZM8.25 9.625C8.25 8.89566 8.53973 8.19618 9.05546 7.68046C9.57118 7.16473 10.2707 6.875 11 6.875C11.7293 6.875 12.4288 7.16473 12.9445 7.68046C13.4603 8.19618 13.75 8.89566 13.75 9.625C13.75 10.3543 13.4603 11.0538 12.9445 11.5695C12.4288 12.0853 11.7293 12.375 11 12.375C10.2707 12.375 9.57118 12.0853 9.05546 11.5695C8.53973 11.0538 8.25 10.3543 8.25 9.625Z"
                      fill="#ed6c00"></path>
                  </svg>Москва, Краснопресненская набережная д.&nbsp;12, оф.&nbsp;1802</span>
              </li>
              <li class="tabs__item"><span><svg width="22" height="22" fill="none">
                    <g clip-path="url(#clip0_2158_12)">
                      <path
                        d="M11 1.8335C16.0628 1.8335 20.1667 5.93741 20.1667 11.0002C20.1667 16.0629 16.0628 20.1668 11 20.1668C5.93729 20.1668 1.83337 16.0629 1.83337 11.0002C1.83337 5.93741 5.93729 1.8335 11 1.8335ZM11 5.50016C10.7569 5.50016 10.5238 5.59674 10.3519 5.76865C10.18 5.94056 10.0834 6.17371 10.0834 6.41683V11.0002C10.0834 11.2433 10.18 11.4764 10.352 11.6482L13.102 14.3982C13.2748 14.5652 13.5064 14.6576 13.7467 14.6555C13.9871 14.6534 14.217 14.557 14.387 14.3871C14.5569 14.2171 14.6533 13.9872 14.6554 13.7469C14.6575 13.5065 14.5651 13.275 14.3981 13.1021L11.9167 10.6207V6.41683C11.9167 6.17371 11.8201 5.94056 11.6482 5.76865C11.4763 5.59674 11.2432 5.50016 11 5.50016Z"
                        fill="#ed6c00"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_2158_12">
                        <rect width="22" height="22" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>Пн&nbsp;— Пт&nbsp;с&nbsp;9.00 до&nbsp;18.00</span></li>
            </ul>
          </div>
          <div class="tabs__content-wrap">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa2697e93afea7684660270b91ad1bad9865bd85140ce8b12326fca4dc1660b4d&amp;source=constructor"
              width="100%" height="464" frameborder="0"></iframe>
          </div>
        </li>

        <li class="tabs__panel" id="2">
          <div class="tabs__content-wrap">
            <ul class="tabs__list">
              <li class="tabs__item"><span><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.5895 19.998C14.9861 17.8888 19.25 13.5795 19.25 9.625C19.25 7.43696 18.3808 5.33854 16.8336 3.79137C15.2865 2.24419 13.188 1.375 11 1.375C8.81196 1.375 6.71354 2.24419 5.16637 3.79137C3.61919 5.33854 2.75 7.43696 2.75 9.625C2.75 13.5795 7.0125 17.8888 9.4105 19.998C9.8479 20.3884 10.4137 20.6042 11 20.6042C11.5863 20.6042 12.1521 20.3884 12.5895 19.998ZM8.25 9.625C8.25 8.89566 8.53973 8.19618 9.05546 7.68046C9.57118 7.16473 10.2707 6.875 11 6.875C11.7293 6.875 12.4288 7.16473 12.9445 7.68046C13.4603 8.19618 13.75 8.89566 13.75 9.625C13.75 10.3543 13.4603 11.0538 12.9445 11.5695C12.4288 12.0853 11.7293 12.375 11 12.375C10.2707 12.375 9.57118 12.0853 9.05546 11.5695C8.53973 11.0538 8.25 10.3543 8.25 9.625Z"
                      fill="#ed6c00"></path>
                  </svg>141401, Московская область, г. Химки, Вашутинское ш. 33/1</span>
              </li>
              <li class="tabs__item"><span><svg width="22" height="22" fill="none">
                    <g clip-path="url(#clip0_2158_12)">
                      <path
                        d="M11 1.8335C16.0628 1.8335 20.1667 5.93741 20.1667 11.0002C20.1667 16.0629 16.0628 20.1668 11 20.1668C5.93729 20.1668 1.83337 16.0629 1.83337 11.0002C1.83337 5.93741 5.93729 1.8335 11 1.8335ZM11 5.50016C10.7569 5.50016 10.5238 5.59674 10.3519 5.76865C10.18 5.94056 10.0834 6.17371 10.0834 6.41683V11.0002C10.0834 11.2433 10.18 11.4764 10.352 11.6482L13.102 14.3982C13.2748 14.5652 13.5064 14.6576 13.7467 14.6555C13.9871 14.6534 14.217 14.557 14.387 14.3871C14.5569 14.2171 14.6533 13.9872 14.6554 13.7469C14.6575 13.5065 14.5651 13.275 14.3981 13.1021L11.9167 10.6207V6.41683C11.9167 6.17371 11.8201 5.94056 11.6482 5.76865C11.4763 5.59674 11.2432 5.50016 11 5.50016Z"
                        fill="#ed6c00"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_2158_12">
                        <rect width="22" height="22" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>Пн&nbsp;— Пт&nbsp;с&nbsp;9.00 до&nbsp;18.00</span></li>
            </ul>
          </div>
          <div class="tabs__content-wrap">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Abcb2ebc980437fb5e397ca9efeda6ad6ad21ca4b8e7aaa765bfcfcf031b4e404&amp;source=constructor"
              width="100%" height="464" frameborder="0"></iframe>
          </div>
        </li>

        <li class="tabs__panel" id="3">
          <div class="tabs__content-wrap">
            <ul class="tabs__list">
              <li class="tabs__item"><span><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.5895 19.998C14.9861 17.8888 19.25 13.5795 19.25 9.625C19.25 7.43696 18.3808 5.33854 16.8336 3.79137C15.2865 2.24419 13.188 1.375 11 1.375C8.81196 1.375 6.71354 2.24419 5.16637 3.79137C3.61919 5.33854 2.75 7.43696 2.75 9.625C2.75 13.5795 7.0125 17.8888 9.4105 19.998C9.8479 20.3884 10.4137 20.6042 11 20.6042C11.5863 20.6042 12.1521 20.3884 12.5895 19.998ZM8.25 9.625C8.25 8.89566 8.53973 8.19618 9.05546 7.68046C9.57118 7.16473 10.2707 6.875 11 6.875C11.7293 6.875 12.4288 7.16473 12.9445 7.68046C13.4603 8.19618 13.75 8.89566 13.75 9.625C13.75 10.3543 13.4603 11.0538 12.9445 11.5695C12.4288 12.0853 11.7293 12.375 11 12.375C10.2707 12.375 9.57118 12.0853 9.05546 11.5695C8.53973 11.0538 8.25 10.3543 8.25 9.625Z"
                      fill="#ed6c00"></path>
                  </svg>Санкт Петербург, посёлок Парголово</span>
              </li>
              <li class="tabs__item"><span><svg width="22" height="22" fill="none">
                    <g clip-path="url(#clip0_2158_12)">
                      <path
                        d="M11 1.8335C16.0628 1.8335 20.1667 5.93741 20.1667 11.0002C20.1667 16.0629 16.0628 20.1668 11 20.1668C5.93729 20.1668 1.83337 16.0629 1.83337 11.0002C1.83337 5.93741 5.93729 1.8335 11 1.8335ZM11 5.50016C10.7569 5.50016 10.5238 5.59674 10.3519 5.76865C10.18 5.94056 10.0834 6.17371 10.0834 6.41683V11.0002C10.0834 11.2433 10.18 11.4764 10.352 11.6482L13.102 14.3982C13.2748 14.5652 13.5064 14.6576 13.7467 14.6555C13.9871 14.6534 14.217 14.557 14.387 14.3871C14.5569 14.2171 14.6533 13.9872 14.6554 13.7469C14.6575 13.5065 14.5651 13.275 14.3981 13.1021L11.9167 10.6207V6.41683C11.9167 6.17371 11.8201 5.94056 11.6482 5.76865C11.4763 5.59674 11.2432 5.50016 11 5.50016Z"
                        fill="#ed6c00"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_2158_12">
                        <rect width="22" height="22" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>Пн&nbsp;— Пт&nbsp;с&nbsp;9.00 до&nbsp;18.00</span></li>
            </ul>
          </div>
          <div class="tabs__content-wrap">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A1cf8e18ec7aed465f3f152325429e2bdf43be2d06d13f4f9b174249d516de978&amp;source=constructor"
              width="100%" height="464" frameborder="0"></iframe>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="contacts__form-mobile">
    <div class="container">
      <h2 class="contacts__subtitle">Напишите нам</h2>

      <form class="contacts__form--mobile contacts__form--bg-grey form" id="contacts-form-mobile" action="#">
        <div class="form__block">
          <div class="form__input-wrapper">
            <input class="form__input input-name" type="text" id="name" placeholder="" data-validate-field="name">
            <label class="form__placeholder" for="name">Ваше имя</label>
          </div>

          <div class="form__input-wrapper">
            <input class="form__input input-mail" type="text" id="email" placeholder="" data-validate-field="mail">
            <label class="form__placeholder" for="email">Эл. почта</label>
          </div>
        </div>

        <div class="form__block">
          <div class="form__input-wrapper">
            <input class="form__input input-tel" type="tel" id="phone" placeholder="" data-validate-field="phone">
            <label class="form__placeholder" for="phone">Телефон</label>
          </div>

          <div class="form__input-wrapper">
            <input class="form__input input-company" type="text" id="company" placeholder=""
              data-validate-field="company">
            <label class="form__placeholder" for="company">Компания</label>
          </div>
        </div>

        <div class="form__input-wrapper form__input-wrapper--margin">
          <textarea class="form__textarea input-textarea" id="textarea" placeholder="" rows="1" maxlength="60"
            data-validate-field="textarea"></textarea>
          <label class="form__placeholder" for="textarea">Комментарий</label>
        </div>

        <div class="form__block">
          <span class="form__text form__text-width">Оставляя заявку, вы&nbsp;даете согласие на&nbsp;обработку
            персональных
            данных</span>
          <button class="form__btn form__btn--width button button--orange cropped-corner">
            Оставить заявку
            <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
            </svg>

          </button>
        </div>
      </form>
    </div>
  </div>

</section>