<section class="detection-system">
  <div class="detection-system__head">
    <div class="container">
      <div class="detection-system__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="info.html">Информация</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Система обнаружения препятствий</span>
          </li>
        </ul>
      </div>

      <h1 class="detection-system__title section-title">Система обнаружения препятствий</h1>
    </div>
  </div>

  <div class="container">
    <div class="detection-system__content">
      <div class="detection-system__text-block text-block">
        <p class="text-block__text">Система обнаружения, которая использует датчики на платформе для обнаружения
          объектов, чтобы обеспечить
          операторам дополнительный уровень осведомленности об их окружении во время работы. Датчики настраивают на
          определение предупреждающих зон и расстояния остановки в направлении движения машины, повышая защиту людей и
          имущества.</p>
        <p class="text-block__text">Доступно для всех стреловых и ножничных подъемников DINGLI. Данная опция предлагает:
        </p>

        <p class="detection-system__text-accent">Значительные зоны покрытия, состоящие из нескольких датчиков по бокам и
          сзади платформы, сводят к минимуму
          инциденты на месте и ущерб окружающей среде. Наличие датчиков предупреждения о возможности столкновения
          грузоподъемного механизма с посторонними объектами значительно повышает уровень безопасности выполняемых
          работ.
        </p>
      </div>



      <iframe class="detection-system__video" width="445" height="260" src="https://www.youtube.com/embed/li_9PBrcOcQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>