<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__content">
        <div class="footer__content-head">
          <div class="footer__logo-block logo-block">
            <a class="logo-block__logo logo logo--right-line-white" href="/">
              <img class="logo__img" loading="lazy" src="img/logo-white.svg" width="125" height="50"
                alt="Логотип Dingli">
            </a>

            <picture>
              <source srcset="img/logo-cavag.svg" type="image/svg">
              <img class="logo-block__partner-img" loading="lazy" src="img/logo-cavag.svg" width="171" height="26"
                alt="Логотип Cavag">
            </picture>
          </div>

          <span class="footer__company">ООО «ТЕХНОТРЕЙД» — официальный дистрибьютор подъемников DINGLI в России и
            СНГ</span>
        </div>

        <div class="footer__content-body">
          <div class="footer__contacts">
            <div class="footer__adress">
              <address class="footer__adr">123610, Россия, г. Москва, Краснопресненская наб, 12</address><span
                class="footer__worktime">
                <svg width="22" height="22" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.9987 1.33325C11.6807 1.33325 14.6654 4.31792 14.6654 7.99992C14.6654 11.6819 11.6807 14.6666 7.9987 14.6666C4.3167 14.6666 1.33203 11.6819 1.33203 7.99992C1.33203 4.31792 4.3167 1.33325 7.9987 1.33325ZM7.9987 3.99992C7.82189 3.99992 7.65232 4.07016 7.52729 4.19518C7.40227 4.32021 7.33203 4.48977 7.33203 4.66659V7.99992C7.33207 8.17672 7.40233 8.34626 7.52736 8.47125L9.52736 10.4713C9.6531 10.5927 9.8215 10.6599 9.9963 10.6584C10.1711 10.6568 10.3383 10.5867 10.4619 10.4631C10.5855 10.3395 10.6556 10.1723 10.6571 9.99752C10.6587 9.82272 10.5915 9.65432 10.47 9.52859L8.66536 7.72392V4.66659C8.66536 4.48977 8.59513 4.32021 8.4701 4.19518C8.34508 4.07016 8.17551 3.99992 7.9987 3.99992Z"
                    fill="white" />
                </svg>

                пн-пт 9:00-18:00</span>
            </div>

            <div class="footer__write-us"><a class="footer__link" href="mailto:info@rudingli.ru">info@rudingli.ru</a>
              <button class="footer__btn-trigger">
                <svg width="22" height="22" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.37736 3.65463L7.29403 9.57196C7.46906 9.74712 7.70286 9.8511 7.95016 9.86379C8.19745 9.87647 8.44066 9.79695 8.6327 9.64063L8.7087 9.57196L14.6214 3.65863C14.6405 3.73196 14.6534 3.80685 14.66 3.88329L14.6654 3.99996V12C14.6655 12.3363 14.5384 12.6603 14.3097 12.907C14.081 13.1536 13.7675 13.3047 13.432 13.33L13.332 13.3333H2.66536C2.32898 13.3334 2.00499 13.2064 1.75833 12.9776C1.51168 12.7489 1.36059 12.4354 1.33536 12.1L1.33203 12V3.99996C1.33203 3.91996 1.3387 3.84218 1.35203 3.76663L1.37736 3.65463ZM13.332 2.66663C13.4129 2.66663 13.4918 2.67351 13.5687 2.68729L13.682 2.71329L8.00203 8.39329L2.32003 2.71196C2.39381 2.69196 2.46936 2.67863 2.5467 2.67196L2.66536 2.66663H13.332Z"
                    fill="#fff" />
                </svg>
                Напишите нам</button>
            </div>

            <div class="footer__call"><a class="footer__link" href="phone:+78006003944">+ 7 (800) 600-39-44</a> <button
                class="footer__btn-trigger">
                <svg width="22" height="22" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.3335 7.33271H14.6668C14.6668 3.91271 12.0848 1.33337 8.66016 1.33337V2.66671C11.3682 2.66671 13.3335 4.62871 13.3335 7.33271Z"
                    fill="#fff" />
                  <path
                    d="M8.66685 5.33333C10.0689 5.33333 10.6669 5.93133 10.6669 7.33333H12.0002C12.0002 5.18333 10.8169 4 8.66685 4V5.33333ZM10.9482 8.962C10.8201 8.84556 10.6518 8.78347 10.4787 8.78882C10.3057 8.79417 10.1415 8.86654 10.0209 8.99066L8.42552 10.6313C8.04152 10.558 7.26952 10.3173 6.47485 9.52466C5.68019 8.72933 5.43952 7.95533 5.36819 7.574L7.00752 5.978C7.1318 5.85742 7.20428 5.69321 7.20963 5.52013C7.21498 5.34706 7.15278 5.17869 7.03619 5.05066L4.57285 2.342C4.45622 2.21357 4.29411 2.13567 4.12096 2.12484C3.94781 2.11401 3.77725 2.1711 3.64552 2.284L2.19885 3.52466C2.0836 3.64034 2.0148 3.7943 2.00552 3.95733C1.99552 4.124 1.80485 8.072 4.86619 11.1347C7.53685 13.8047 10.8822 14 11.8035 14C11.9382 14 12.0209 13.996 12.0429 13.9947C12.2059 13.9855 12.3597 13.9164 12.4749 13.8007L13.7149 12.3533C13.8278 12.2217 13.885 12.0512 13.8743 11.878C13.8636 11.7049 13.7859 11.5427 13.6575 11.426L10.9482 8.962Z"
                    fill="#fff" />
                </svg>


                Заказать звонок</button></div>
          </div>

          <div class="footer__inner">
            <div class="footer__block">
              <h4 class="footer__title">Подъемники</h4>
              <ul class="footer__block-list">
                <li class="footer__block-item"><a class="footer__block-link" href="#">Ножничные</a></li>
                <li class="footer__block-item"><a class="footer__block-link" href="#">Коленчатые</a></li>
                <li class="footer__block-item"><a class="footer__block-link" href="#">Телескопические</a></li>
                <li class="footer__block-item"><a class="footer__block-link" href="#">Мачтовые</a></li>
                <li class="footer__block-item"><a class="footer__block-link" href="#">Самоходные</a></li>
              </ul>
            </div>

            <div class="footer__block">
              <h4 class="footer__title">Компания</h4>
              <ul class="footer__block-list">
                <li class="footer__block-item"><a class="footer__block-link" href="#">О компании</a></li>
                <li class="footer__block-item"><a class="footer__block-link" href="#">Запчасти</a></li>
                <li class="footer__block-item"><a class="footer__block-link" href="#">Сервис</a></li>
                <li class="footer__block-item"><a class="footer__block-link" href="#">Информация</a></li>
                <li class="footer__block-item"><a class="footer__block-link" href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <form class="footer__form form" id="footer-form" action="#">
        <div class="form__input-wrapper form__input-wrapper--margin">
          <input class="form__input input-name" type="text" id="name" placeholder="" data-validate-field="name">
          <label class="form__placeholder" for="name">Ваше имя</label>
        </div>

        <div class="form__input-wrapper form__input-wrapper--margin">
          <input class="form__input input-tel" type="tel" id="phone" placeholder="" data-validate-field="phone">
          <label class="form__placeholder" for="phone">Телефон</label>
        </div>

        <div class="form__input-wrapper form__input-wrapper--margin">
          <input class="form__input input-mail" type="text" id="email" placeholder="" data-validate-field="mail">
          <label class="form__placeholder" for="email">Эл. почта</label>
        </div>

        <div class="form__input-wrapper form__input-wrapper--margin">
          <textarea class="form__textarea input-textarea" id="textarea" placeholder="" data-validate-field="textarea"
            style="height: 78px;"></textarea>
          <label class="form__placeholder form__placeholder--small-top" for="textarea">Комментарий</label>
        </div>

        <button class="form__btn button button--orange cropped-corner">
          Оставить заявку
          <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
          </svg>
        </button>

        <span class="form__text">Оставляя заявку, вы даете согласие на обработку персональных данных</span>
      </form>

      <svg class="footer__decor" width="1267" height="14" viewBox="0 0 1267 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.6" d="M0 13H1254L1266 1" stroke="white" stroke-opacity="0.2" />
      </svg>
    </div>


    <div class="footer__bottom">
      <span class="footer__copy">© 2007–2024</span>

      <ul class="footer__socials socials">
        <li class="socials__item">
          <a class="socials__link" href="https://t.me/Dingli_ChatBot?start=10326" target="_blank">
            <img class="socials__img" src="img/socials/telegram.svg" alt="Телеграм">
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="https://www.youtube.com/@dingli-russia" target="_blank">
            <img class="socials__img" src="img/socials/youtube.svg" alt="Ютуб">
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="https://vk.com/dingli_ru" target="_blank">
            <img class="socials__img" src="img/socials/vk.svg" alt="ВКонтакте">
          </a>
        </li>
      </ul>

      <a class="footer__policy" href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>