<section class="hero">
  <div class="hero__slider">
    <div class="hero__slider-wrapper swiper-wrapper">

      <div class="swiper-slide">
        <div class="container">
          <div class="hero__wrapper">
            <div class="hero__content">
              <h1 class="hero__title">Коленчатые подъемники</h1>
              <ul class="hero__list">
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/oil.svg" alt="Иконка масло">
                  Дизельные
                </li>
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/electro.svg" alt="Иконка электричество">Электрические
                </li>
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/oil-electro.svg" alt="Иконка масло-электричество">Гибридные
                </li>
              </ul>
              <p class="hero__descr">Самоходные подъемные вышки коленчатого типа для работ на высоте до 16 метров</p>

              <a class="hero__button button button--orange cropped-corner" href="#">Посмотреть в
                каталоге <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
                </svg></a>
            </div>

            <picture>
              <source srcset="img/hero/hero-img.png" type="image/png" />
              <img class="hero__img" src="img/hero/hero-img.png" alt="Фото машины" decoding="async" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="hero__wrapper">
            <div class="hero__content">
              <h1 class="hero__title">Коленчатые подъемники</h1>
              <ul class="hero__list">
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/oil.svg" alt="Иконка масло">
                  Дизельные
                </li>
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/electro.svg" alt="Иконка электричество">Электрические
                </li>
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/oil-electro.svg" alt="Иконка масло-электричество">Гибридные
                </li>
              </ul>
              <p class="hero__descr">Самоходные подъемные вышки коленчатого типа для работ на высоте до 16 метров</p>

              <a class="hero__button button button--orange cropped-corner" href="#">Посмотреть в
                каталоге <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
                </svg></a>
            </div>

            <picture>
              <source srcset="img/hero/hero-img.png" type="image/png" />
              <img class="hero__img" src="img/hero/hero-img.png" alt="Фото машины" decoding="async" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="hero__wrapper">
            <div class="hero__content">
              <h1 class="hero__title">Коленчатые подъемники</h1>
              <ul class="hero__list">
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/oil.svg" alt="Иконка масло">
                  Дизельные
                </li>
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/electro.svg" alt="Иконка электричество">Электрические
                </li>
                <li class="hero__item">
                  <img class="hero__item--img" src="img/svg/oil-electro.svg" alt="Иконка масло-электричество">Гибридные
                </li>
              </ul>
              <p class="hero__descr">Самоходные подъемные вышки коленчатого типа для работ на высоте до 16 метров</p>

              <a class="hero__button button button--orange cropped-corner" href="#">Посмотреть в
                каталоге <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5" />
                </svg></a>
            </div>

            <picture>
              <source srcset="img/hero/hero-img.png" type="image/png" />
              <img class="hero__img" src="img/hero/hero-img.png" alt="Фото машины" decoding="async" />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <button class="hero__slider-controls-prev slider-control slider-control--prev" aria-label="Назад">
      <svg width="15" height="15" viewBox="0 0 22 24" fill="none">
        <path d="M0.31248 12H20M20 12L9.5 1.5M20 12L9.5 22.5" stroke="#3E3A39" stroke-width="2.5" />
      </svg>
    </button>

    <button class="hero__slider-controls-next slider-control slider-control--next" aria-label="Назад">
      <svg width="15" height="15" viewBox="0 0 22 24" fill="none">
        <path d="M0.31248 12H20M20 12L9.5 1.5M20 12L9.5 22.5" stroke="#3E3A39" stroke-width="2.5" />
      </svg>
    </button>

    <div class="hero__pagination slider-pagination"></div>
  </div>

</section>