<section class="info-page">
  <div class="container">
    <div class="info-page__breadcrumbs breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="index.html">Главная</a>
        </li>

        <li class="breadcrumbs__item breadcrumbs__item--active">
          <span>Информация</span>
        </li>
      </ul>
    </div>

    <h1 class="info-page__title section-title">Информация</h1>

    <ul class="info-page__list">
      <li class="info-page__item">
        <div class="info-page__item-wrap">
          <h3 class="info-page__item-title">Безопасность подъемников</h3>
          <p class="info-page__item-text">Dingli продолжает вводить новшества и обеспечивать безопасность с помощью
            наших продуктов. На всех новых стреловых подъёмников DINGLI® серии BT/BR система блокировки дифференциала,
            4WD и 2WS входит в стандартную комплектацию.</p>
        </div>

        <a class="info-page__item-link button button--orange cropped-corner" href="/safety-lifts.html">
          Подробнее
          <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
          </svg>
        </a>
      </li>

      <li class="info-page__item">
        <div class="info-page__item-wrap">
          <h3 class="info-page__item-title">Б/У Подъемники</h3>
          <p class="info-page__item-text">В нашей компании вы также можете купить бывшие в употреблении подъёмники.
          </p>
        </div>

        <a class="info-page__item-link button button--orange cropped-corner" href="/used-lifts.html">
          Подробнее
          <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
          </svg>
        </a>
      </li>

      <li class="info-page__item">
        <div class="info-page__item-wrap">
          <h3 class="info-page__item-title">Библиотека 3D для проектировщиков DINGLI BIM</h3>
          <p class="info-page__item-text">Библиотека 3D по разным моделям подъемников DINGLI®</p>
        </div>

        <a class="info-page__item-link button button--orange cropped-corner" href="/lib.html">
          Подробнее
          <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
          </svg>
        </a>
      </li>

      <li class="info-page__item">
        <div class="info-page__item-wrap">
          <h3 class="info-page__item-title">Руководства</h3>
          <p class="info-page__item-text">Руководства по эксплуатации, а также файлы с подробными характеристиками
            подъемников DINGLI®</p>
        </div>

        <a class="info-page__item-link button button--orange cropped-corner" href="/manuals.html">
          Подробнее
          <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
          </svg>
        </a>
      </li>

      <li class="info-page__item">
        <div class="info-page__item-wrap">
          <h3 class="info-page__item-title">Система обнаружения препятствий</h3>
          <p class="info-page__item-text">Система обнаружения, которая использует датчики на платформе для обнаружения
            объектов, чтобы обеспечить операторам дополнительный уровень осведомленности об их окружении во время
            работы.</p>
        </div>

        <a class="info-page__item-link button button--orange cropped-corner" href="/detection-system.html">
          Подробнее
          <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
          </svg>
        </a>
      </li>

      <li class="info-page__item">
        <div class="info-page__item-wrap">
          <h3 class="info-page__item-title">Повышенная защита оператора во время управления</h3>
          <p class="info-page__item-text">Все стреловые подъемники DINGLI® поставляются в стандартной комплектации с
            технологией защиты оператора от защемления, которая обеспечивает повышенную защиту панели управления.</p>
        </div>

        <a class="info-page__item-link button button--orange cropped-corner" href="/protection.html">
          Подробнее
          <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
          </svg>
        </a>
      </li>

      <li class="info-page__item">
        <div class="info-page__item-wrap">
          <h3 class="info-page__item-title">Управление устойчивостью</h3>
          <p class="info-page__item-text">Видео о вспомогательных системах для управления устойчивостью подъемников
            DINGLI®</p>
        </div>

        <a class="info-page__item-link button button--orange cropped-corner" href="/sustainability.html">
          Подробнее
          <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
          </svg>
        </a>
      </li>

      <li class="info-page__item">
        <div class="info-page__item-wrap">
          <h3 class="info-page__item-title">Подъёмники серии BT с повышенной грузоподъёмностью</h3>
          <p class="info-page__item-text">Стреловые телескопические подъемники большой грузоподъемности Hi-Capacity
            идентифицируются по модели серии ВТ. Модели данной серии предлагают расширенный рабочий диапазон и три
            зоны грузоподъемности до 454 кг в режиме с ограничениями и до 300 кг в режиме без ограничений.</p>
        </div>

        <a class="info-page__item-link button button--orange cropped-corner" href="/strong-lifts.html">
          Подробнее
          <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
          </svg>
        </a>
      </li>
    </ul>

  </div>
</section>