<section class="leasing-page">
  <div class="leasing-page__head">
    <div class="container">
      <div class="leasing-page__head-wrapper">
        <div class="leasing-page__left">
          <div class="leasing-page__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="index.html">Главная</a>
              </li>

              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">О компании</a>
              </li>

              <li class="breadcrumbs__item breadcrumbs__item--active">
                <span>Лизинг</span>
              </li>
            </ul>
          </div>

          <h1 class="leasing-page__title section-title">Лизинг</h1>
        </div>

        <img class="leasing-page__head-pic" src="img/leasing/bg.png" alt="Картинка">
      </div>

      <div class="leasing-page__head-text-block text-block">
        <p class="text-block__text">ООО «Технотрейд» — является официальным и единственным дистрибьютором Dingli в
          России, Узбекистане, Казахстане, Беларуси, Киргизии и Армении по всей линейке продукции Dingli предлагает
          подъёмники в лизинг.
        </p>
      </div>

      <ul class="leasing-page__leasing">
        <li class="leasing-page__leasing-item">
          <img class="leasing-page__leasing-img" src="img/delivery/docs.png" alt="Картинка">

          <h4 class="leasing-page__leasing-title">Всего три документа</h4>
          <p class="leasing-page__leasing-text">Анкета, Устав, Паспорт директора и&nbsp;бенефициаров</p>
        </li>

        <li class="leasing-page__leasing-item">
          <img class="leasing-page__leasing-img" src="img/delivery/time.png" alt="Картинка">

          <h4 class="leasing-page__leasing-title">Оперативность</h4>
          <p class="leasing-page__leasing-text">Возможность получить решение за&nbsp;2‐3 рабочих дня</p>
        </li>

        <li class="leasing-page__leasing-item">
          <img class="leasing-page__leasing-img" src="img/delivery/calendar.png" alt="Картинка">

          <h4 class="leasing-page__leasing-title">Срок лизинга</h4>
          <p class="leasing-page__leasing-text">От&nbsp;7 до&nbsp;60 месяцев</p>
        </li>

        <li class="leasing-page__leasing-item">
          <img class="leasing-page__leasing-img" src="img/delivery/percent.png" alt="Картинка">

          <h4 class="leasing-page__leasing-title">Удорожание</h4>
          <p class="delivery-page__leasing-text">Всего от&nbsp;4% в&nbsp;год</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="leasing-page__content">
      <div class="leasing-page__text-block text-block">
        <p class="text-block__text">В настоящее время организации все чаще приобретают подъемную технику посредством
          заключения договора финансовой аренды (лизинга). Это связано с тем, что использование лизинга позволяет
          избежать резкого оттока денежных средств, который характерен для договора поставки.</p>
        <p class="text-block__text">Стоимость предмета лизинга может варьировать от 1.000.000,00 до 150.000.000,00
          рублей и более. Авансовый платеж: от 0% (в зависимости от программы, типа оборудования, условий поставки, и
          производства). Срок лизинга определяется банковской организацией и может варьировать от 1 года до 5 лет и
          более.
        </p>
        <p class="text-block__text">Для принятия решения о финансировании от клиента необходимо получить:</p>
      </div>

      <ul class="leasing-page__text-list text-list">
        <li class="text-list__item">Копии уставных документов
        </li>
        <li class="text-list__item">Копии финансовой отчетности формы Ф1 и Ф2 за последний отчетный год и последний
          отчетный период (для юр. лиц).</li>
      </ul>

      <div class="leasing-page__text-block leasing-page__text-block--mb80 text-block">
        <p class="text-block__text">В случае, если Вам необходимо финансирование, наш опыт сотрудничества с ведущими
          лизинговыми компаниями России позволит нам подобрать для Вас максимально оптимальные и выгодные условия
          финансирования. Срок рассмотрения заявок, при наличии полного комплекта документов составляет не более
          одного-трех дней.</p>
      </div>

      <h3 class="leasing-page__title-block title-block">Виды Подъемников в лизинг</h3>

      <ul class="leasing-page__catalog catalog__list">
        <li class="catalog__item">
          <article class="catalog__product catalog-product catalog-product">
            <a class="catalog-product__link" href="#">
              <h3 class="catalog-product__title">Ножничные</h3>

              <span class="catalog-product__models">9 моделей</span>

              <div class="catalog-product__img">
                <picture>
                  <source srcset="img/catalog/nozh.png" type="image/webp">
                  <img class="catalog-product__img" src="img/catalog/nozh.png" alt="Фото машины" decoding="async">
                </picture>
              </div>

              <span class="catalog-product__more" href="#">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </span>
            </a>
          </article>
        </li>

        <li class="catalog__item">
          <article class="catalog__product catalog-product">
            <a class="catalog-product__link" href="#">
              <h3 class="catalog-product__title">Коленчатые</h3>

              <span class="catalog-product__models">9 моделей</span>

              <div class="catalog-product__img">
                <picture>
                  <source srcset="img/catalog/kolen.png" type="image/webp">
                  <img class="catalog-product__img" src="img/catalog/kolen.png" alt="Фото машины" decoding="async">
                </picture>
              </div>

              <span class="catalog-product__more" href="#">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </span>
            </a>
          </article>
        </li>

        <li class="catalog__item">
          <article class="catalog__product catalog-product">
            <a class="catalog-product__link" href="#">
              <h3 class="catalog-product__title">Телескопические</h3>

              <span class="catalog-product__models">9 моделей</span>

              <div class="catalog-product__img">
                <picture>
                  <source srcset="img/catalog/telescop.png" type="image/webp">
                  <img class="catalog-product__img" src="img/catalog/telescop.png" alt="Фото машины" decoding="async">
                </picture>
              </div>

              <span class="catalog-product__more" href="#">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </span>
            </a>
          </article>
        </li>

        <li class="catalog__item">
          <article class="catalog__product catalog-product">
            <a class="catalog-product__link" href="#">
              <h3 class="catalog-product__title">Мачтовые</h3>

              <span class="catalog-product__models">9 моделей</span>

              <div class="catalog-product__img">
                <picture>
                  <source srcset="img/catalog/machta.png" type="image/webp">
                  <img class="catalog-product__img" src="img/catalog/machta.png" alt="Фото машины" decoding="async">
                </picture>
              </div>

              <span class="catalog-product__more" href="#">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </span>
            </a>
          </article>
        </li>

        <li class="catalog__item">
          <article class="catalog__product catalog-product">
            <a class="catalog-product__link" href="#">
              <h3 class="catalog-product__title">Самоходные</h3>

              <span class="catalog-product__models">9 моделей</span>

              <div class="catalog-product__img">
                <picture>
                  <source srcset="img/catalog/samohod.png" type="image/webp">
                  <img class="catalog-product__img" src="img/catalog/samohod.png" alt="Фото машины" decoding="async">
                </picture>
              </div>

              <span class="catalog-product__more" href="#">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </span>
            </a>
          </article>
        </li>

        <li class="catalog__item">
          <article class="catalog__product catalog-product">
            <a class="catalog-product__link" href="#">
              <h3 class="catalog-product__title">Строительные</h3>

              <span class="catalog-product__models">9 моделей</span>

              <div class="catalog-product__img">
                <picture>
                  <source srcset="img/catalog/stroitelnie.png" type="image/webp">
                  <img class="catalog-product__img" src="img/catalog/stroitelnie.png" alt="Фото машины"
                    decoding="async">
                </picture>
              </div>

              <span class="catalog-product__more" href="#">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </span>
            </a>
          </article>
        </li>

        <li class="catalog__item">
          <article class="catalog__product catalog-product">
            <a class="catalog-product__link" href="#">
              <h3 class="catalog-product__title">Складские</h3>

              <span class="catalog-product__models">9 моделей</span>

              <div class="catalog-product__img">
                <picture>
                  <source srcset="img/catalog/skladskie.png" type="image/webp">
                  <img class="catalog-product__img" src="img/catalog/skladskie.png" alt="Фото машины" decoding="async">
                </picture>
              </div>

              <span class="catalog-product__more" href="#">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </span>
            </a>
          </article>
        </li>

        <li class="catalog__item">
          <article class="service-card">
            <a class="service-card__link" href="#">
              <div class="service-card__body">
                <h4 class="service-card__title">Подбор по&nbsp;<br> параметрам</h4>
                <p class="service-card__text">Поможем выбрать подъемник, который подходит именно Вам</p>

                <img class="service-card__img" loading="lazy" src="img/services/search.png" width="156" height="156"
                  alt="Поиск">

                <span class="service-card__more">Подробнее
                  <svg class="service-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
                  </svg>
                </span>
              </div>

              <div class="service-card__overlay"></div>
            </a>
          </article>
        </li>
      </ul>

      <div class="leasing-page__form">
        <h3 class="leasing-page__title-block title-block">Заявка на лизинг подъемников</h3>

        <p class="leasing-page__form-text">Оставьте заявку и наши специалисты свяжутся с вами</p>

        <form class="form" id="leasing-page-form" action="#" novalidate="novalidate">
          <div class="form__block">
            <div class="form__input-wrapper">
              <input class="form__input input-name" type="text" id="write-us-popup-form-name" placeholder=""
                data-validate-field="name">
              <label class="form__placeholder form__placeholder--centered" for="write-us-popup-form-name">Ваше
                имя <span>*</span></label>
            </div>

            <div class="form__input-wrapper">
              <input class="form__input input-tel" type="tel" id="write-us-popup-form-phone" placeholder=""
                data-validate-field="phone" inputmode="text">
              <label class="form__placeholder form__placeholder--centered" for="write-us-popup-form-phone">Телефон
                <span>*</span></label>
            </div>

            <div class="form__input-wrapper">
              <input class="form__input input-mail" type="text" id="write-us-popup-form-email" placeholder=""
                data-validate-field="mail">
              <label class="form__placeholder form__placeholder--centered" for="email">Email <span>*</span></label>
            </div>

            <div class="form__input-wrapper">
              <input class="form__input input-company" type="text" id="company" placeholder=""
                data-validate-field="company">
              <label class="form__placeholder form__placeholder--centered" for="company">Название компании
                <span>*</span></label>
            </div>
          </div>

          <div class="form__input-wrapper form__input-wrapper--margin">
            <textarea class="form__textarea input-textarea" id="textarea" placeholder=""
              data-validate-field="textarea"></textarea>
            <label class="form__placeholder" for="textarea">Комментарий <span>*</span></label>
          </div>

          <div class="form__block">
            <button class="form__btn button button--white cropped-corner">
              Отправить заявку
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#000" stroke-width="2.5"></path>
              </svg>
            </button>

            <span class="form__text">Отправляя данную форму Вы соглашаетесь на <a class="form__text form__text--accent"
                href="#">обработку персональных данных</a>
            </span>
          </div>
        </form>
      </div>

      <h3 class="leasing-page__title-block title-block">Сотрудничаем с ведущими лизинговыми компаниями</h3>

      <ul class="leasing-page__company">
        <li class="leasing-page__company-item">
          <img class="leasing-page__company-img" src="img/leasing/company.jpg" alt="Картинка">

          <div class="leasing-page__company-content">
            <h3 class="leasing-page__company-title">ОАО «ГТЛК»</h3>

            <div class="leasing-page__company-text text-block">
              <p class="text-block__text">Государственная транспортная лизинговая компания (ГТЛК) предоставляет нашим
                клиентам уникальные возможности для приобретения техники в лизинг. Надежность и лидерство компании
                подтверждаются её высокими рейтингами и успешной реализацией государственных задач в транспортной
                отрасли.</p>
            </div>

            <button class="leasing-page__company-btn">
              Подробнее

              <svg class="leasing-page__company-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
              </svg>
            </button>
          </div>
        </li>

        <li class="leasing-page__company-item">
          <img class="leasing-page__company-img" src="img/leasing/company.jpg" alt="Картинка">

          <div class="leasing-page__company-content">
            <h3 class="leasing-page__company-title">ОАО «ГТЛК»</h3>

            <div class="leasing-page__company-text text-block">
              <p class="text-block__text">Государственная транспортная лизинговая компания (ГТЛК) предоставляет нашим
                клиентам уникальные возможности для приобретения техники в лизинг. Надежность и лидерство компании
                подтверждаются её высокими рейтингами и успешной реализацией государственных задач в транспортной
                отрасли.</p>
            </div>

            <button class="leasing-page__company-btn">
              Подробнее

              <svg class="leasing-page__company-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
              </svg>
            </button>
          </div>
        </li>

        <li class="leasing-page__company-item">
          <img class="leasing-page__company-img" src="img/leasing/company.jpg" alt="Картинка">

          <div class="leasing-page__company-content">
            <h3 class="leasing-page__company-title">ОАО «ГТЛК»</h3>

            <div class="leasing-page__company-text text-block">
              <p class="text-block__text">Государственная транспортная лизинговая компания (ГТЛК) предоставляет нашим
                клиентам уникальные возможности для приобретения техники в лизинг. Надежность и лидерство компании
                подтверждаются её высокими рейтингами и успешной реализацией государственных задач в транспортной
                отрасли.</p>
            </div>

            <button class="leasing-page__company-btn">
              Подробнее

              <svg class="leasing-page__company-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
              </svg>
            </button>
          </div>
        </li>

        <li class="leasing-page__company-item">
          <img class="leasing-page__company-img" src="img/leasing/company.jpg" alt="Картинка">

          <div class="leasing-page__company-content">
            <h3 class="leasing-page__company-title">ОАО «ГТЛК»</h3>

            <div class="leasing-page__company-text text-block">
              <p class="text-block__text">Государственная транспортная лизинговая компания (ГТЛК) предоставляет нашим
                клиентам уникальные возможности для приобретения техники в лизинг. Надежность и лидерство компании
                подтверждаются её высокими рейтингами и успешной реализацией государственных задач в транспортной
                отрасли.</p>
            </div>

            <button class="leasing-page__company-btn">
              Подробнее

              <svg class="leasing-page__company-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
              </svg>
            </button>
          </div>
        </li>

        <li class="leasing-page__company-item">
          <img class="leasing-page__company-img" src="img/leasing/company.jpg" alt="Картинка">

          <div class="leasing-page__company-content">
            <h3 class="leasing-page__company-title">ОАО «ГТЛК»</h3>

            <div class="leasing-page__company-text text-block">
              <p class="text-block__text">Государственная транспортная лизинговая компания (ГТЛК) предоставляет нашим
                клиентам уникальные возможности для приобретения техники в лизинг. Надежность и лидерство компании
                подтверждаются её высокими рейтингами и успешной реализацией государственных задач в транспортной
                отрасли.</p>
            </div>

            <button class="leasing-page__company-btn">
              Подробнее

              <svg class="leasing-page__company-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#ed6c00" stroke-width="2.5"></path>
              </svg>
            </button>
          </div>
        </li>
      </ul>

      <ul class="leasing-page__accordion accordion">
        <li class="accordion__item">
          <button class="accordion__btn">
            <span class="accordion__name">Вопрос 1
            </span>

            <div class="accordion__decor"></div>
          </button>
          <div class="accordion__content text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, molestiae? Laboriosam iste id quibusdam
              numquam, officiis at eos aspernatur quasi.</p>
          </div>
        </li>

        <li class="accordion__item">
          <button class="accordion__btn">
            <span class="accordion__name">Вопрос 2
            </span>

            <div class="accordion__decor"></div>
          </button>
          <div class="accordion__content text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, ipsum nisi! Incidunt, repellat quod
              libero voluptas non eius rem enim.</p>
          </div>
        </li>

        <li class="accordion__item">
          <button class="accordion__btn">
            <span class="accordion__name">Вопрос 3</span>

            <div class="accordion__decor"></div>
          </button>
          <div class="accordion__content text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quisquam quidem provident earum
              consectetur est distinctio corporis amet iusto voluptatem.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
