<div class="mobile-menu">
  <div class="container">
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__inner">
        <ul class="mobile-menu__list">

          <li class="mobile-menu__item dropdown">
            <span class="mobile-menu__text" data-toggle="dropdown">Подъемники</span>

            <ul class="mobile-menu__dropdown-menu">
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Ножничные
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Коленчатые
                </a>
              <li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Телескопические
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Мачтовые
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Самоходные
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Cпайдер вышки
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Телескопические погрузчики
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item dropdown">
            <span class="mobile-menu__text" data-toggle="dropdown">Услуги</span>

            <ul class="mobile-menu__dropdown-menu">
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Поставка техники</a>
              </li>
              <li class="mobile-menu__dropdown-item"><a class="mobile-menu__dropdown-link " href="#">
                  Сервисное обслуживание</a></li>
              <li class="mobile-menu__dropdown-item"><a class="mobile-menu__dropdown-link " href="#">
                  Запчасти</a></li>
              <li class="mobile-menu__dropdown-item"><a class="mobile-menu__dropdown-link " href="#">
                  Лизинг</a></li>
              <li class="mobile-menu__dropdown-item"><a class="mobile-menu__dropdown-link " href="#">
                  Trade-in</a></li>
              <li class="mobile-menu__dropdown-item"><a class="mobile-menu__dropdown-link " href="#">
                  Ремонт</a></li>
            </ul>
          </li>

          <li class="mobile-menu__item dropdown">
            <span class="mobile-menu__text" data-toggle="dropdown">О компании</span>
            <ul class="mobile-menu__dropdown-menu mobile-menu__dropdown-menu--catalog">
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  1
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  2
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  3
                </a>
              </li>
            </ul>
          </li>



          <li class="mobile-menu__item dropdown">
            <span class="mobile-menu__text" data-toggle="dropdown">Сервис</span>
            <ul class="mobile-menu__dropdown-menu mobile-menu__dropdown-menu--catalog">
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  1
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  2
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  3
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item dropdown">
            <span class="mobile-menu__text" data-toggle="dropdown">Информация</span>
            <ul class="mobile-menu__dropdown-menu mobile-menu__dropdown-menu--catalog">
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  1
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  2
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  3
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li>
        </ul>

        <div class="mobile-menu__content">
          <div class="mobile-menu__feedback">
            <a class="mobile-menu__link " href="mailto:info@rudingli.ru">
              info@rudingli.ru</a>
            <button class="mobile-menu__btn-trigger ">
              <svg width="22" height="22" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.37736 3.65463L7.29403 9.57196C7.46906 9.74712 7.70286 9.8511 7.95016 9.86379C8.19745 9.87647 8.44066 9.79695 8.6327 9.64063L8.7087 9.57196L14.6214 3.65863C14.6405 3.73196 14.6534 3.80685 14.66 3.88329L14.6654 3.99996V12C14.6655 12.3363 14.5384 12.6603 14.3097 12.907C14.081 13.1536 13.7675 13.3047 13.432 13.33L13.332 13.3333H2.66536C2.32898 13.3334 2.00499 13.2064 1.75833 12.9776C1.51168 12.7489 1.36059 12.4354 1.33536 12.1L1.33203 12V3.99996C1.33203 3.91996 1.3387 3.84218 1.35203 3.76663L1.37736 3.65463ZM13.332 2.66663C13.4129 2.66663 13.4918 2.67351 13.5687 2.68729L13.682 2.71329L8.00203 8.39329L2.32003 2.71196C2.39381 2.69196 2.46936 2.67863 2.5467 2.67196L2.66536 2.66663H13.332Z"
                  fill="#ed6c00" />
              </svg>Напишите нам
            </button>
          </div>

          <div class="mobile-menu__feedback">
            <a class="mobile-menu__link " href="phone:+78006003944">
              +7 (800) 600-39-44</a>
            <button class="mobile-menu__btn-trigger ">
              <svg width="22" height="21" fill="none">
                <path
                  d="M17.6275 13.9884L15.2992 13.7226C15.0254 13.6905 14.7479 13.7208 14.4875 13.8113C14.2272 13.9018 13.9907 14.0501 13.7959 14.2451L12.1092 15.9318C9.50696 14.6083 7.39184 12.4932 6.06837 9.89095L7.7642 8.19511C8.15837 7.80094 8.35087 7.25095 8.2867 6.69178L8.02087 4.38178C7.9689 3.93461 7.7543 3.52216 7.41792 3.22297C7.08154 2.92378 6.64689 2.75874 6.1967 2.75928H4.61087C3.57504 2.75928 2.71337 3.62095 2.77754 4.65678C3.26337 12.4851 9.5242 18.7368 17.3434 19.2226C18.3792 19.2868 19.2409 18.4251 19.2409 17.3893V15.8034C19.25 14.8776 18.5534 14.0984 17.6275 13.9884Z"
                  fill="#ed6c00" />
              </svg>Заказать звонок</button>
          </div>

          <ul class="mobile-menu__socials">
            <li class="socials__item">
              <a class="socials__link " href="#">
                <img class="socials__img" src="img/socials/telegram.svg" alt="Телеграм">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link " href="#">
                <img class="socials__img" src="img/socials/youtube.svg" alt="Ютуб">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link " href="#">
                <img class="socials__img" src="img/socials/vk.svg" alt="ВКонтакте">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
