<section class="news-article-page">
  <div class="news-article-page__head">
    <div class="container">
      <div class="news-article-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="/news.html">Новости и события</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Dingli на выставке СТТ Expo 2024</span>
          </li>
        </ul>
      </div>

      <h1 class="news-article-page__title section-title">Dingli на выставке СТТ Expo 2024: Присоединяйтесь к нам!</h1>


      <img class="news-article-page__banner" src="img/news/news-article.jpg" alt="Баннер">

      <div class="news-article-page__head-bot">
        <time class="news-article-page__date">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
              fill="#3e3a39">
            </path>
          </svg> 1&nbsp;июля 2024</time>

        <div class="news-article-page__social">
          <span class="news-article-page__social-text">Поделиться:</span>
          <ul class="news-article-page__socials socials">
            <li class="socials__item">
              <a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/telegram.svg" alt="Телеграм">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/youtube.svg" alt="Ютуб">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/vk.svg" alt="ВКонтакте">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="news-article-page__content">
      <h3 class="news-article-page__subtitle">Технотрейд на СТТ ЭКСПО 2024: Первый день — успех и новые знакомства</h3>
      <div class="news-article-page__text-block text-block">
        <p class="text-block__text">Москва, 28 мая 2024 г. – Первый день СТТ ЭКСПО 2024 позади, и компания
          «Технотрейд» делится впечатлениями от
          плодотворного начала работы на выставке.</p>
        <p class="text-block__text">Наш стенд B-2 в секторе B стал центром притяжения для многочисленных
          посетителей. Мы с радостью
          приветствовали
          как давних партнеров, так и заводили новые знакомства, с энтузиазмом делясь информацией о новинках подъемной
          техники DINGLI.</p>
        <p class="text-block__text">Для комфорта гостей мы оборудовали стенд комфортными переговорными комнатами,
          оснащенными кондиционерами и
          предлагали всем прохладительные напитки.</p>
        <p class="text-block__text">Наши эксперты с удовольствием рассказывают и консультируют всех по вопросам
          подъемной техники. Каждый
          посетитель
          может узнать о технических характеристиках, преимуществах и вариантах использования техники DINGLI,
          ознакомиться
          с новинками подъемной техники и получить исчерпывающую консультацию от наших опытных технических специалистов.
        </p>
      </div>

      <p class="news-article-page__accent-text">
        Наши эксперты с удовольствием рассказывают и консультируют всех по вопросам подъемной техники. Каждый посетитель
        может узнать о технических характеристиках, преимуществах и вариантах использования техники DINGLI, ознакомиться
        с новинками подъемной техники и получить исчерпывающую консультацию от наших опытных технических специалистов.
      </p>

      <div class="news-article-page__text-block text-block">
        <p class="text-block__text">Москва, 28 мая 2024 г. – Первый день СТТ ЭКСПО 2024 позади, и компания
          «Технотрейд» делится впечатлениями от
          плодотворного начала работы на выставке.</p>
        <p class="text-block__text">Наш стенд B-2 в секторе B стал центром притяжения для многочисленных
          посетителей. Мы с радостью приветствовали
          как давних партнеров, так и заводили новые знакомства, с энтузиазмом делясь информацией о новинках подъемной
          техники DINGLI.</p>
        <p class="text-block__text">Для комфорта гостей мы оборудовали стенд комфортными переговорными комнатами,
          оснащенными кондиционерами и
          предлагали всем прохладительные напитки.</p>
        <p class="text-block__text">Наши эксперты с удовольствием рассказывают и консультируют всех по вопросам
          подъемной техники. Каждый посетитель
          может узнать о технических характеристиках, преимуществах и вариантах использования техники DINGLI,
          ознакомиться
          с новинками подъемной техники и получить исчерпывающую консультацию от наших опытных технических специалистов.
        </p>
      </div>

      <div class="news-article-page__text-block text-block">
        <p class="text-block__text">Москва, 28 мая 2024 г. – Первый день СТТ ЭКСПО 2024 позади, и
          компания
          «Технотрейд» делится впечатлениями от
          плодотворного начала работы на выставке.</p>
        <p class="text-block__text">Наш стенд B-2 в секторе B стал центром притяжения для многочисленных
          посетителей. Мы с радостью приветствовали
          как давних партнеров, так и заводили новые знакомства, с энтузиазмом делясь информацией о новинках подъемной
          техники DINGLI.</p>
        <p class="text-block__text">Для комфорта гостей мы оборудовали стенд комфортными переговорными комнатами,
          оснащенными кондиционерами и
          предлагали всем прохладительные напитки.</p>
      </div>

      <div class="news-article-page__text-block text-block"">
        <p class=" text-block__text">Москва, 28 мая 2024 г. – Первый день СТТ ЭКСПО 2024 позади, и компания
        «Технотрейд» делится впечатлениями от
        плодотворного начала работы на выставке.</p>
        <p class="text-block__text">Наш стенд B-2 в секторе B стал центром притяжения для многочисленных
          посетителей. Мы с радостью приветствовали
          как давних партнеров, так и заводили новые знакомства, с энтузиазмом делясь информацией о новинках подъемной
          техники DINGLI.</p>
        <p class="text-block__text">Для комфорта гостей мы оборудовали стенд комфортными переговорными комнатами,
          оснащенными кондиционерами и
          предлагали всем прохладительные напитки.</p>
      </div>
    </div>
  </div>
</section>