<section class="news-article-page">
  <div class="news-article-page__head">
    <div class="container">
      <div class="news-article-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="/news.html">Новости и события</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Dingli на выставке СТТ Expo 2024</span>
          </li>
        </ul>
      </div>

      <h1 class="news-article-page__title section-title">Dingli на выставке СТТ Expo 2024: Присоединяйтесь к нам!</h1>


      <img class="news-article-page__banner" src="img/news/news-article.jpg" alt="Баннер">

      <div class="news-article-page__head-bot">
        <time class="news-article-page__date">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
              fill="#3e3a39">
            </path>
          </svg> 1&nbsp;июля 2024</time>

        <div class="news-article-page__social">
          <span class="news-article-page__social-text">Поделиться:</span>
          <ul class="news-article-page__socials socials">
            <li class="socials__item">
              <a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/telegram.svg" alt="Телеграм">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/youtube.svg" alt="Ютуб">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/vk.svg" alt="ВКонтакте">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="news-article-page__content">
      <h3 class="news-article-page__subtitle">Технотрейд на СТТ ЭКСПО 2024: Первый день — успех и новые знакомства</h3>
      <div class="news-article-page__text-block text-block">
        <p class="text-block__text">Москва, 28 мая 2024 г. – Первый день СТТ ЭКСПО 2024 позади, и компания
          «Технотрейд» делится впечатлениями от
          плодотворного начала работы на выставке.</p>
        <p class="text-block__text">Наш стенд B-2 в секторе B стал центром притяжения для многочисленных
          посетителей. Мы с радостью
          приветствовали
          как давних партнеров, так и заводили новые знакомства, с энтузиазмом делясь информацией о новинках подъемной
          техники DINGLI.</p>
        <p class="text-block__text">Для комфорта гостей мы оборудовали стенд комфортными переговорными комнатами,
          оснащенными кондиционерами и
          предлагали всем прохладительные напитки.</p>
        <p class="text-block__text">Наши эксперты с удовольствием рассказывают и консультируют всех по вопросам
          подъемной техники. Каждый
          посетитель
          может узнать о технических характеристиках, преимуществах и вариантах использования техники DINGLI,
          ознакомиться
          с новинками подъемной техники и получить исчерпывающую консультацию от наших опытных технических специалистов.
        </p>
      </div>

      <p class="news-article-page__accent-text">
        Наши эксперты с удовольствием рассказывают и консультируют всех по вопросам подъемной техники. Каждый посетитель
        может узнать о технических характеристиках, преимуществах и вариантах использования техники DINGLI, ознакомиться
        с новинками подъемной техники и получить исчерпывающую консультацию от наших опытных технических специалистов.
      </p>

      <div class="news-article-page__text-block text-block">
        <p class="text-block__text">Москва, 28 мая 2024 г. – Первый день СТТ ЭКСПО 2024 позади, и компания
          «Технотрейд» делится впечатлениями от
          плодотворного начала работы на выставке.</p>
        <p class="text-block__text">Наш стенд B-2 в секторе B стал центром притяжения для многочисленных
          посетителей. Мы с радостью приветствовали
          как давних партнеров, так и заводили новые знакомства, с энтузиазмом делясь информацией о новинках подъемной
          техники DINGLI.</p>
        <p class="text-block__text">Для комфорта гостей мы оборудовали стенд комфортными переговорными комнатами,
          оснащенными кондиционерами и
          предлагали всем прохладительные напитки.</p>
        <p class="text-block__text">Наши эксперты с удовольствием рассказывают и консультируют всех по вопросам
          подъемной техники. Каждый посетитель
          может узнать о технических характеристиках, преимуществах и вариантах использования техники DINGLI,
          ознакомиться
          с новинками подъемной техники и получить исчерпывающую консультацию от наших опытных технических специалистов.
        </p>
      </div>

      <div class="news-article-page__service">
        <div class="news-article-page__service-content">
          <h3 class="news-article-page__service-title">Ссылка на услугу</h3>
          <p class="news-article-page__service-text">Важным направлением деятельности ООО «Технотрейд» является
            гарантийное обслуживание техники Dingli. Техника Dingli является одной из самых надежных среди
            производителей подобной техники, но бывают редкие случаи выхода ее из строя.  </p>
          <a class="news-article-page__service-link" href="#">Подробнее
            <svg width="10" height="10" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.5 26.5L25 4M25 4H1M25 4V28" stroke="#ED6C00" stroke-width="7" />
            </svg>
          </a>
        </div>

        <img class="news-article-page__service-img" src="../img/services/diplom.png" alt="Картинка">
      </div>

      <div class="news-article-page__text-block text-block">
        <p class="text-block__text">Москва, 28 мая 2024 г. – Первый день СТТ ЭКСПО 2024 позади, и
          компания
          «Технотрейд» делится впечатлениями от
          плодотворного начала работы на выставке.</p>
        <p class="text-block__text">Наш стенд B-2 в секторе B стал центром притяжения для многочисленных
          посетителей. Мы с радостью приветствовали
          как давних партнеров, так и заводили новые знакомства, с энтузиазмом делясь информацией о новинках подъемной
          техники DINGLI.</p>
        <p class="text-block__text">Для комфорта гостей мы оборудовали стенд комфортными переговорными комнатами,
          оснащенными кондиционерами и
          предлагали всем прохладительные напитки.</p>
      </div>

      <article class="news-article-page__technic-card technic-card technic-card--horizontal">
        <div class="technic-card__badge">
          <div class="technic-card__badge-info technic-card__badge-info--orange">В&nbsp;наличии</div>
        </div>

        <img class="technic-card__img-mobile" src="img/catalog/kolen.png" alt="Картинка">

        <div class="technic-card__slider swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img class="technic-card__img" src="img/catalog/kolen.png" alt="Картинка">
            </li>

            <li class="swiper-slide">
              <img class="technic-card__img" src="img/catalog/kolen.png" alt="Картинка">
            </li>

            <li class="swiper-slide">
              <img class="technic-card__img" src="img/catalog/kolen.png" alt="Картинка">
            </li>

            <li class="swiper-slide">
              <img class="technic-card__img" src="img/catalog/kolen.png" alt="Картинка">
            </li>
          </ul>

          <div class="technic-card__pagination slider-pagination slider-pagination--small"></div>
        </div>

        <div class="technic-card__content">
          <h3 class="technic-card__title">Ссылка на товар Коленчатый подъемник Dingli BA11NE</h3>

          <ul class="technic-card__list">
            <li class="technic-card__item">
              <span class="technic-card__item-left">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.6">
                    <path
                      d="M2.5 8.33329V13.3333M10 4.16663V6.66663M8.33333 4.16663H11.6667M4.16667 10.8333H2.5M5 8.33329H6.66667L8.33333 6.66663H11.1517C11.3064 6.66671 11.458 6.70986 11.5896 6.79125C11.7212 6.87264 11.8275 6.98906 11.8967 7.12746L13.1033 9.53913C13.1725 9.67753 13.2788 9.79394 13.4104 9.87533C13.542 9.95672 13.6936 9.99988 13.8483 9.99996H15V8.33329H16.6667C16.8877 8.33329 17.0996 8.42109 17.2559 8.57737C17.4122 8.73365 17.5 8.94561 17.5 9.16663V14.1666C17.5 14.3876 17.4122 14.5996 17.2559 14.7559C17.0996 14.9122 16.8877 15 16.6667 15H15V13.3333H12.5V15C12.5 15.221 12.4122 15.4329 12.2559 15.5892C12.0996 15.7455 11.8877 15.8333 11.6667 15.8333H8.77917C8.64201 15.8333 8.50696 15.7995 8.38601 15.7348C8.26507 15.6701 8.16196 15.5766 8.08583 15.4625L6.66667 13.3333H5V8.33329Z"
                      stroke="#3E3A39" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </g>
                </svg>

                Тип питания</span>
              <span class="technic-card__item-right">Электро</span>
            </li>
            <li class="technic-card__item">
              <span class="technic-card__item-left">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.6">
                    <path
                      d="M16 3H4M16 17H4M6.001 12.3396L9.99601 15.4507M9.99601 15.4507L14.006 12.3396M9.99601 15.4507V4.56178M6.001 7.67289L9.99601 4.56178M9.99601 4.56178L14.006 7.67289"
                      stroke="#3E3A39" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
                  </g>
                </svg>
                Рабочая высота</span>
              <span class="technic-card__item-right">10,8&nbsp;м</span>
            </li>
            <li class="technic-card__item">
              <span class="technic-card__item-left">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.6">
                    <path
                      d="M7.5 4.1665C7.5 4.82955 7.76339 5.46543 8.23223 5.93427C8.70107 6.40311 9.33696 6.6665 10 6.6665C10.663 6.6665 11.2989 6.40311 11.7678 5.93427C12.2366 5.46543 12.5 4.82955 12.5 4.1665C12.5 3.50346 12.2366 2.86758 11.7678 2.39874C11.2989 1.9299 10.663 1.6665 10 1.6665C9.33696 1.6665 8.70107 1.9299 8.23223 2.39874C7.76339 2.86758 7.5 3.50346 7.5 4.1665Z"
                      stroke="#3E3A39" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path
                      d="M16.6654 16.6665H3.33203C3.65591 14.4977 5.02756 6.6665 5.02756 6.6665H14.9698C14.9698 6.6665 16.3415 14.4977 16.6654 16.6665Z"
                      stroke="#3E3A39" stroke-width="2" stroke-linecap="round"></path>
                  </g>
                </svg>

                Грузоподъемность</span>
              <span class="technic-card__item-right">227 кг</span>
            </li>
            <li class="technic-card__item">
              <span class="technic-card__item-left">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.6">
                    <path
                      d="M16.8 2H3.2C2.88174 2 2.57652 2.12643 2.35147 2.35147C2.12643 2.57652 2 2.88174 2 3.2V16.8C2 17.1183 2.12643 17.4235 2.35147 17.6485C2.57652 17.8736 2.88174 18 3.2 18H16.8C17.1183 18 17.4235 17.8736 17.6485 17.6485C17.8736 17.4235 18 17.1183 18 16.8V3.2C18 2.88174 17.8736 2.57652 17.6485 2.35147C17.4235 2.12643 17.1183 2 16.8 2Z"
                      stroke="#3E3A39" stroke-width="2" stroke-linejoin="round"></path>
                    <path
                      d="M5 7.93897C6.38542 6.2723 8.05208 5.43896 10 5.43896C11.9479 5.43896 13.6146 6.2723 15 7.93897"
                      stroke="#3E3A39" stroke-width="2" stroke-linecap="round"></path>
                    <path
                      d="M10 12.9165C10.3315 12.9165 10.6495 12.7848 10.8839 12.5504C11.1183 12.316 11.25 11.998 11.25 11.6665C11.25 11.335 11.1183 11.017 10.8839 10.7826C10.6495 10.5482 10.3315 10.4165 10 10.4165C9.66848 10.4165 9.35054 10.5482 9.11612 10.7826C8.8817 11.017 8.75 11.335 8.75 11.6665C8.75 11.998 8.8817 12.316 9.11612 12.5504C9.35054 12.7848 9.66848 12.9165 10 12.9165Z"
                      fill="#3E3A39"></path>
                    <path d="M7.91797 8.75L10.0046 11.6667" stroke="#3E3A39" stroke-width="2" stroke-linecap="round">
                    </path>
                  </g>
                </svg>

                Вес</span>
              <span class="technic-card__item-right">8 650 кг</span>
            </li>
          </ul>

          <div class="technic-card__bts-wrapper">
            <span class="technic-card__price">По запросу</span>

            <div class="technic-card__bot">
              <button class="technic-card__buy-btn button button--orange">
                Купить
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </button>
              <a class="technic-card__more button button--grey" href="#">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg></a>
            </div>
          </div>
        </div>
      </article>

      <div class="news-article-page__text-block text-block"">
        <p class=" text-block__text">Москва, 28 мая 2024 г. – Первый день СТТ ЭКСПО 2024 позади, и компания
        «Технотрейд» делится впечатлениями от
        плодотворного начала работы на выставке.</p>
        <p class="text-block__text">Наш стенд B-2 в секторе B стал центром притяжения для многочисленных
          посетителей. Мы с радостью приветствовали
          как давних партнеров, так и заводили новые знакомства, с энтузиазмом делясь информацией о новинках подъемной
          техники DINGLI.</p>
        <p class="text-block__text">Для комфорта гостей мы оборудовали стенд комфортными переговорными комнатами,
          оснащенными кондиционерами и
          предлагали всем прохладительные напитки.</p>
      </div>
    </div>
  </div>
</section>