<section class="parts-for-lifts">
  <div class="parts-for-lifts__head">
    <div class="container">
      <div class="parts-for-lifts__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class=" breadcrumbs__item breadcrumbs__item--active">
            <span>Запчасти</span>
          </li>
        </ul>
      </div>

      <h1 class="parts-for-lifts__title section-title">Запчасти для подъемников</h1>

      <div class="parts-for-lifts__text-block text-block">
        <p class="text-block__text">Cтраница каталога запчастей для подъёмников Dingli и JLG. Вся номенклатура запасных
          частей поставляется с заводов-производителей. Склад запасных частей состоит из более 10 000 позиций.
          Предлагаем расходные материалы, масла и смазки высокого качества с доставкой по России.
        </p>
        <p class="text-block__text">Подъёмники для работы на высоте – это оборудование где безопасность и надежность
          является основным фактором. Для этого требуется своевременное техническое обслуживание. Инструмент,
          необходимый для проведения ТО с заменой масла, жидкостей и фильтров, а также материалы и запасные части
          компонентов двигателя, гидравлической системы, трансмиссии и системы управления в наличии на складе. А также
          наличие на складе материалов и запасных частей для замены и установки таких компонентов как двигатели, шланги,
          клапаны, расходные жидкости, системы управления и охлаждения. Определение степени износа может проводиться как
          визуально, так и через диагностический интерфейс на панели управления подъёмника.
        </p>
        <p class="text-block__text">По некоторым позициям цена в руб указана в каталоге, а по всем остальным просим
          обращаться по общему телефону +7(800)600-39-44 или по адресу склада: Химки, Вашутинское ш. 33/1
        </p>
      </div>

      <form class="form-search" action="#">
        <input class="form-search__input" type="text" placeholder="Введите артикул или наименование">
        <button class="form-search__btn form-search__btn--transp button button--orange cropped-corner">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.6">
              <path
                d="M21.0002 21L16.6572 16.657M16.6572 16.657C17.4001 15.9141 17.9894 15.0321 18.3914 14.0615C18.7935 13.0909 19.0004 12.0506 19.0004 11C19.0004 9.94936 18.7935 8.90905 18.3914 7.93842C17.9894 6.96779 17.4001 6.08585 16.6572 5.34296C15.9143 4.60007 15.0324 4.01078 14.0618 3.60874C13.0911 3.20669 12.0508 2.99976 11.0002 2.99976C9.9496 2.99976 8.90929 3.20669 7.93866 3.60874C6.96803 4.01078 6.08609 4.60007 5.34321 5.34296C3.84288 6.84329 3 8.87818 3 11C3 13.1217 3.84288 15.1566 5.34321 16.657C6.84354 18.1573 8.87842 19.0002 11.0002 19.0002C13.122 19.0002 15.1569 18.1573 16.6572 16.657Z"
                stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
          <span>Найти</span>
        </button>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="parts-for-lifts__inner">
      <ul class="parts-for-lifts__list">
        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner" data-graph-path="parts-modal">
            Подробнее
          </button>

          <div class=" parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>

        <li class="parts-for-lifts__item">
          <button class="parts-for-lifts__item-btn button button--orange cropped-corner">
            Подробнее
          </button>

          <div class="parts-for-lifts__item-content">
            <img class="parts-for-lifts__item-img" src="img/item-img.jpg" alt="Картинка">

            <div class="parts-for-lifts__item-info">
              <h3 class="parts-for-lifts__item-title">Ремкомплект Rexroth</h3>
              <div class="parts-for-lifts__item-name">
                <span>Артикул: </span>
                R921851968 Rexroth
              </div>
              <span class="parts-for-lifts__item-descr">Ремкомплект Rexroth</span>
            </div>
          </div>
        </li>
      </ul>

      <button class="parts-for-lifts__show-more button cropped-corner cropped-corner--grey">Показать еще</button>

      <div class="parts-for-lifts__pagination-wrapper">
        <div class="parts-for-lifts__pagination pagination">
          <ul class="pagination__list">
            <li class="pagination__item pagination__item--disabled"><a class="pagination__arrows pagination__prev"
                href="#"><svg width="21" height="18" viewBox="0 0 21 18" fill="none">
                  <path d="M0 9H20M20 9L12.0833 1.5M20 9L12.0833 16.5" stroke="#3A3A3A" stroke-width="2"
                    stroke-linejoin="round"></path>
                </svg></a></li>
            <li class="pagination__item pagination__item--active"><a class="pagination__link" href="#">1</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
            <li class="pagination__item"><a class="pagination__link pagination__link--active" href="#">3</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#">4</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#">5</a></li>
            <li class="pagination__item"><a class="pagination__arrows pagination__next" href="#"><svg width="21"
                  height="18" viewBox="0 0 21 18" fill="none">
                  <path d="M0 9H20M20 9L12.0833 1.5M20 9L12.0833 16.5" stroke="#3A3A3A" stroke-width="2"
                    stroke-linejoin="round"></path>
                </svg></a></li>
          </ul>
        </div>

        <div class="catalog-page__pagination-count">
          <span class="catalog-page__pagination-count-name">Показано:</span>

          <span class="catalog-page__pagination-count-current">1–9</span> из&nbsp;<span
            class="catalog-page__pagination-count-total">96</span>
        </div>
      </div>

      <div class="parts-for-lifts__link-block link-block">
        <img class="link-block__img" src="img/link-block/link-block-img.png" alt="Шестеренка">

        <div class="link-block__content">
          <h3 class="link-block__title title-block">Не нашли нужную запчасть?</h3>
          <img class="link-block__img link-block__img--mobile" src="img/link-block/link-block-img.png" alt="Шестеренка">
          <p class="link-block__text">Подберём запчасти с гарантией для всех моделей техники Dingli.
            Моментальная отгрузка из наличия со склада в Московской области.
            Доставка из Китая в течении 14 дней!</p>
          <a class="link-block__more button button--white cropped-corner" href="#">
            Оставить заявку

            <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
            </svg>
          </a>
        </div>
      </div>

      <div class="parts-for-lifts__text-block parts-for-lifts__text-block--margin text-block">
        <p class="text-block__text">Мы понимаем, что заказ расходных материалов и запчастей у производителей техники
          связан с ожиданием согласования каталожных номеров и низкой скоростью международной курьерской доставки. За
          длительный период работы на территории Российской Федерации и стран СНГ команда ООО «Технотрейд» научилась
          проиводить слаженное комплексное обслуживание поставляемой нами техники и запчастей. Мы делаем быстрый ремонт
          узлов и агрегатов, а также замену узлов и компонентов.
        </p>
        <p class="text-block__text">Преимущества сотрудничества с компанией ООО «Технотрейд» по поставке запасных частей
          и расходных материалов со склада:
        </p>
      </div>

      <ul class="service-article__text-list text-list">
        <li class="text-list__item">Актуальные цены запчастей и расходных материалов.</li>
        <li class="text-list__item">Персональный менеджер, который ведет сделку от начала и до конца.
        </li>
        <li class="text-list__item">Оригинальные запасные части Dingli и JLG c гарантией.
        </li>
        <li class="text-list__item">Все запчасти проходят тщательный входной контроль, как перед отправкой с завода
          изготовителя, так и при приемке деталей на нашем складе.
        </li>
        <li class="text-list__item">Мы регулярно обновляем наши складские запасы по расходным материалам и
          быстроизнашиваемым запчастям.
        </li>
        <li class="text-list__item">Для клиентов с большим парком техники, мы организовывываем склады запасных частей с
          оперативным доступом на территории заказчика.
        </li>
        <li class="text-list__item">С нашей складской программой и отлаженной системой логистики, каждый наш заказчик
          получает возможность получить необходимую ему деталь для оперативного ремонта техники Dingli и JLG.
        </li>
        <li class="text-list__item">Для клиентов с большим парком техники, мы готовы организовывать склады запасных
          частей с оперативным доступом на территории заказчика. </li>
        <li class="text-list__item">Благодаря складской программе, отлаженной системе логистики, каждый наш заказчик
          получает возможность в максимально сжатые сроки получить необходимую ему деталь для оперативного ремонта
          техники Dingli. </li>
        <li class="text-list__item">Мы всегда можем предложить нашим клиентам комплекс услуг, не только поставку
          запасных частей, но и сервисные работы по ее замене, а также предоставить услуги по ремонту техники любого
          типа, производителя и уровня сложности.</li>
      </ul>

      <div class="parts-for-lifts__text-block text-block">
        <p class="text-block__text">Предлагаем заключить договор поставки запасных частей и расходных материалов. Это
          обеспечит бесперебойную поставку запчастей и сервисных услуг, тем самым гарантирует работоспособность техники
          и увеличит экономическую эффективность приобретенного оборудования.
        </p>
        <p class="text-block__text">В случае если Вам необходима профессиональная консультация по подбору деталей или
          выбору запчастей для ремонта техники Dingli - обращайтесь в компанию ООО «Технотрейд» по телефону +7 (800)
          600-39-44 или заполните онлайн-заявку на нашем сайте.
        </p>
      </div>
    </div>
  </div>
</section>