<section class="project-page">
  <div class="project-page__head">
    <div class="container">
      <div class="catalog-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">О компании</a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Реализованные проекты</span>
          </li>
        </ul>
      </div>

      <h1 class="project-page__title section-title">Реализованные проекты</h1>

      <p class="project-page__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>

  <div class="project-page__content">
    <div class="container">
      <ul class="project-page__list">
        <li class="project-page__item">
          <a class="project-page__item-img-link" href="#">
            <img class="project-page__item-img" src="img/project/1.jpg" alt="Картинка">
          </a>
          <a class="project-page__item-title-link" href="#">
            <h3 class="project-page__item-title">Отзыв по поставке DINGLI в Англию</h3>
          </a>
          <a class="project-page__item-button button button--orange cropped-corner" href="#">Подробнее

            <svg width="17" height="14" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
            </svg>
          </a>
        </li>
        <li class="project-page__item">
          <a class="project-page__item-img-link" href="#">
            <img class="project-page__item-img" src="img/project/2.jpg" alt="Картинка">
          </a>
          <a class="project-page__item-title-link" href="#">
            <h3 class="project-page__item-title">Отзыв по поставке DINGLI под брэндом MAGNI в Италию</h3>
          </a>
          <a class="project-page__item-button button button--orange cropped-corner" href="#">Подробнее

            <svg width="17" height="14" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
            </svg>
          </a>
        </li>
        <li class="project-page__item">
          <a class="project-page__item-img-link" href="#">
            <img class="project-page__item-img" src="img/project/3.jpg" alt="Картинка">
          </a>
          <a class="project-page__item-title-link" href="#">
            <h3 class="project-page__item-title">Отзыв по поставке DINGLI в Австралию</h3>
          </a>
          <a class="project-page__item-button button button--orange cropped-corner" href="#">Подробнее

            <svg width="17" height="14" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
            </svg>
          </a>
        </li>
        <li class="project-page__item">
          <a class="project-page__item-img-link" href="#">
            <img class="project-page__item-img" src="img/project/4.jpg" alt="Картинка">
          </a>
          <a class="project-page__item-title-link" href="#">
            <h3 class="project-page__item-title">Пост-релиз V Юбилейного форума арендных и строительных компаний</h3>
          </a>
          <a class="project-page__item-button button button--orange cropped-corner" href="#">Подробнее

            <svg width="17" height="14" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
            </svg>
          </a>
        </li>
        <li class="project-page__item">
          <a class="project-page__item-img-link" href="#">
            <img class="project-page__item-img" src="img/project/5.jpg" alt="Картинка">
          </a>
          <a class="project-page__item-title-link" href="#">
            <h3 class="project-page__item-title">Отзыв по поставке DINGLI в Нидерланды</h3>
          </a>
          <a class="project-page__item-button button button--orange cropped-corner" href="#">Подробнее

            <svg width="17" height="14" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
