<section class="project-detail">
  <div class="project-detail__head">
    <div class="container">
      <div class="project-detail__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">О компании</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Проекты</a>
          </li>


          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Поставка DINGLI в Англию</span>
          </li>
        </ul>
      </div>

      <h1 class="project-detail__title section-title">Поставка DINGLI в Англию</h1>

      <div class="project-detail__head-wrapper">
        <div class="project-detail__head-left">
          <div class="project-detail__head-text text-block">
            <p class="text-block__text">В арендную компанию Англии Sunbelt Green прибыли первые ножные внедорожные
              подъёмники DINGLI.</p>
            <p class="text-block__text">Они идеально смотрятся в цвете Sunbelt Green. Сразу после прибытия PDI три
              подъёмника отправили сразу на объект в работу конечному покупателю.</p>
          </div>

          <ul class="project-detail__list">
            <li class="project-detail__item">
              <span class="project-detail__item-descr">Регион проекта</span>
              <span class="project-detail__item-name">Англия</span>
            </li>
            <li class="project-detail__item">
              <span class="project-detail__item-descr">Год поставки</span>
              <span class="project-detail__item-name">2023</span>
            </li>
            <li class="project-detail__item">
              <span class="project-detail__item-descr">Тип проекта</span>
              <span class="project-detail__item-name">Поставка техники</span>
            </li>
          </ul>
        </div>

        <div class="project-detail__head-slider">
          <div class="project-detail__swiper swiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
            </ul>
          </div>

          <div class="project-detail__swiper-thumbs swiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
              <li class="swiper-slide">
                <img class="project-detail__img" src="img/product-detail/1.jpg" alt="Фото" decoding="async">
              </li>
            </ul>

            <div class="project-detail__swiper-next swiper-button-next"></div>
            <div class="project-detail__swiper-prev swiper-button-prev"></div>
          </div>
        </div>

        <ul class="project-detail__list project-detail__list--mobile">
          <li class="project-detail__item">
            <span class="project-detail__item-descr">Регион проекта</span>
            <span class="project-detail__item-name">Англия</span>
          </li>
          <li class="project-detail__item">
            <span class="project-detail__item-descr">Год поставки</span>
            <span class="project-detail__item-name">2023</span>
          </li>
          <li class="project-detail__item">
            <span class="project-detail__item-descr">Тип проекта</span>
            <span class="project-detail__item-name">Поставка техники</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="project-detail__body">
    <div class="container">
      <div class="project-detail__inner">
        <div class="project-detail__inner-left">
          <h4 class="project-detail__section-subtitle section-subtitle">Поставили лучшие подъемники в дождливую англию
          </h4>

          <div class="project-detail__text-block text-block">
            <p class="text-block__text">В арендную компанию Англии Sunbelt Green прибыли первые ножные внедорожные
              подъёмники DINGLI.</p>
            <p class="text-block__text"> В арендную компанию Англии Sunbelt Green прибыли первые ножные внедорожные
              подъёмники DINGLI.
            </p>
            <p class="text-block__text">Они идеально смотрятся в цвете Sunbelt Green. Сразу после прибытия PDI три
              подъёмника отправили сразу на
              объект в работу конечному покупателю.</p>
            <p class="text-block__text"> В арендную компанию Англии Sunbelt Green прибыли первые ножные внедорожные
              подъёмники DINGLI.
            </p>
            <p class="text-block__text"> В арендную компанию Англии Sunbelt Green прибыли первые ножные внедорожные
              подъёмники DINGLI.
            </p>
            <p class="text-block__text">Они идеально смотрятся в цвете Sunbelt Green. Сразу после прибытия PDI три
              подъёмника отправили сразу на
              объект в работу конечному покупателю.</p>
            <p class="text-block__text">Они идеально смотрятся в цвете Sunbelt Green. Сразу после прибытия PDI три
              подъёмника отправили сразу на
              объект в работу конечному покупателю.</p>
          </div>

          <ul class="project-detail__files-list files-list">
            <li class="files-list__item">
              <div class="files-list__item-details">
                <span class="files-list__item-fullname">
                  <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M5.27999 19.4H3.99999V21H5.27999C5.75999 21 6.07999 20.68 6.07999 20.2C6.07999 19.72 5.75999 19.4 5.27999 19.4ZM13.6 0.199951H0.799988V25.8H21.6V8.19995L13.6 0.199951ZM7.51999 20.36C7.51999 21.64 6.55999 22.6 5.27999 22.6H3.99999V24.2H2.39999V17.8H5.27999C6.55999 17.8 7.51999 18.76 7.51999 20.04V20.36ZM14.08 21.16C14.08 22.76 12.8 24.2 11.04 24.2H8.79999V17.8H11.04C12.64 17.8 14.08 19.08 14.08 20.84V21.16ZM20 19.4H16.8V21H19.2V22.6H16.8V24.2H15.2V17.8H20V19.4ZM20 16.2H2.39999V1.79995H13.6V8.19995H20V16.2ZM11.04 19.4H10.4V22.6H11.04C12 22.6 12.64 21.96 12.64 21C12.64 20.04 11.84 19.4 11.04 19.4Z"
                      fill="#CC4B4C" />
                  </svg>
                  Благодарственное письмо
                </span>

                <div class="files-list__item-dwd">
                  <span class="files-list__item-format">PDF</span>
                  <span class="files-list__item-weight">161.41 KB</span>

                  <button class="files-list__item-btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4 22H20" stroke="#ED6C00" stroke-width="2" stroke-linecap="square"></path>
                      <path d="M12 2V18M12 18L7 13M12 18L17 13" stroke="#ED6C00" stroke-width="2"
                        stroke-linecap="square"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <article class="project-detail__service-card service-card">
          <div class="service-card__body">
            <h4 class="service-card__title">Нужна техника?</h4>
            <p class="service-card__text">Оставьте заявку и мы поможем выбрать подъемник, который подходит именно Вам, а
              также поставим его в кратчайшие сроки </p>

            <img class="service-card__img" loading="lazy" src="img/services/search.png" width="156" height="156"
              alt="Поиск">

            <button class="service-card__more button button--orange cropped-corner"
              data-graph-path="call-modal">Оставить заявку
              <svg class="service-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#fff" stroke-width="2.5"></path>
              </svg>
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
