<section class="protection">
  <div class="protection__head">
    <div class="container">
      <div class="protection__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="info.html">Информация</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Повышенная защита оператора во время управления</span>
          </li>
        </ul>
      </div>

      <h1 class="protection__title section-title">Повышенная защита оператора во время управления</h1>
    </div>
  </div>

  <div class="container">
    <div class="protection__content">
      <div class="protection__text-block text-block">
        <p class="text-block__text">Все стреловые подъемники DINGLI® поставляются в стандартной комплектации с
          технологией защиты оператора от
          защемления, которая обеспечивает повышенную защиту панели управления.</p>
        <p class="text-block__text">При активации защиты оператора от защемления останавливает все используемые в данный
          момент функции, а затем
          временно отменяет большинство использовавшихся функций.
        </p>

        <ul class="protection__list text-list">
          <li class="text-list__item">Может быть активирован под разными углами</li>
          <li class="text-list__item">Обеспечивает дополнительную защиту, не препятствуя или не уменьшая рабочую зону
            подъема стрелы</li>
          <li class="text-list__item">При отсутствии подвижных частей нет необходимости в плановом или дополнительном
            техническом обслуживании</li>
          <li class="text-list__item">Сбрасывается с помощью педального переключателя, электронного принудительного
            отключения</li>
          <li class="text-list__item">Не увеличивает профиль платформы и не ограничивает использование платформы</li>
        </ul>

        <p class="text-block__text">На видео показана система повышенной защиты оператора во время управления</p>
      </div>

      <iframe class="protection__video" width="445" height="260" src="https://www.youtube.com/embed/li_9PBrcOcQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>