<section class="requisites">
  <div class="container">
    <h2 class="requisites__title title-block">Реквизиты</h2>

    <div class="requisites__table">
      <div class="requisites__table-row">
        <span class="requisites__table-left">Полное наименование фирмы</span>
        <span class="requisites__table-right">Общество с ограниченной ответственностью «Технотрейд»</span>
      </div>

      <div class="requisites__table-row">
        <span class="requisites__table-left">Сокращенное наименование фирмы</span>
        <span class="requisites__table-right">ООО «Технотрейд»</span>
      </div>

      <div class="requisites__table-row">
        <span class="requisites__table-left">Юридический адрес</span>
        <span class="requisites__table-right">123610, Москва г, Краснопресненская наб, дом № 12, пом IД, этаж 18 , комн
          2</span>
      </div>

      <div class="requisites__table-row">
        <span class="requisites__table-left">Почтовый адрес</span>
        <span class="requisites__table-right" data-copy-adress>123610, Москва г, Краснопресненская наб, дом №
          12,
          18
          этаж, помещение IД,
          комн. 2
        </span>
      </div>

      <div class="requisites__table-row">
        <span class="requisites__table-left">ИНН/ КПП</span>
        <span class="requisites__table-right">7703725518/770301001</span>
      </div>

      <div class="requisites__table-row">
        <span class="requisites__table-left">ОГРН</span>
        <span class="requisites__table-right">1107746607044</span>
      </div>

      <div class="requisites__table-row">
        <span class="requisites__table-left">ОКТМО</span>
        <span class="requisites__table-right">45380000</span>
      </div>

      <div class="requisites__table-row">
        <span class="requisites__table-left">Расчетный счет в рублях</span>
        <span class="requisites__table-right">40702810400000011368</span>
      </div>

      <div class="requisites__table-row">
        <span class="requisites__table-left">БИК</span>
        <span class="requisites__table-right">044525700</span>
      </div>
    </div>
  </div>
</section>