<section class="safety-lifts">
  <div class="safety-lifts__head">
    <div class="container">
      <div class="safety-lifts__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="info.html">Информация</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Безопасность подъемников</span>
          </li>
        </ul>
      </div>

      <h1 class="safety-lifts__title section-title">Безопасность подъемников</h1>
    </div>
  </div>

  <div class="container">
    <div class="safety-lifts__content">
      <div class="text-block">
        <p class="text-block__text">В настоящее время большинство несчастных случаев на строительных площадках
          происходят в результате падения с высоты. При
          этом 20% случаев происходят на высоте 2м и ниже.</p>
        <p class="text-block__text">Dingli продолжает вводить новшества и обеспечивать безопасность с помощью наших
          продуктов. Одной из основных причин
          несчастных случаев или травм на рабочем месте является травмы в результате столкновения оператора с
          препятствием во
          время работы на высоте. На всех новых стреловых подъёмников Dingli серии BT/BR система блокировки
          дифференциала, 4WD и
          2WS входит в стандартную комплектацию.</p>
        <p class="text-block__text">На видео вы можете увидеть сравнение возможностей по проходимости подъёмников серии
          BT/BA с подъёмниками Genie</p>
      </div>

      <iframe class="safety-lifts__video" width="445" height="260" src="https://www.youtube.com/embed/li_9PBrcOcQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>