<section class="services">
  <div class="container">
    <h2 class="services__title title-block">Услуги</h2>

    <ul class="services__list">
      <li class="services__item">
        <article class="service-card">
          <a class="service-card__link" href="#">
            <div class="service-card__body">
              <h4 class="service-card__title">Подбор по <br> параметрам</h4>
              <p class="service-card__text">Поможем выбрать подъемник, который подходит именно Вам</p>

              <img class="service-card__img" loading="lazy" src="img/services/search.png" width="156" height="156"
                alt="Поиск">

              <span class="service-card__more">Подробнее
                <svg class="service-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
                </svg>
              </span>
            </div>

            <div class="service-card__overlay"></div>
          </a>
        </article>
      </li>

      <li class="services__item">
        <article class="service-card">
          <a class="service-card__link" href="#">
            <div class="service-card__body">
              <h4 class="service-card__title">Гарантия</h4>
              <p class="service-card__text">Мы предоставляем расширенную гарантию на все наши подъемники DINGLI</p>

              <img class="service-card__img" loading="lazy" src="img/services/diplom.png" width="156" height="156"
                alt="Гарантии">

              <span class="service-card__more">Подробнее
                <svg class="service-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
                </svg>
              </span>
            </div>

            <div class="service-card__overlay"></div>
          </a>
        </article>
      </li>

      <li class="services__item">
        <article class="service-card">
          <a class="service-card__link" href="#">
            <div class="service-card__body">
              <h4 class="service-card__title">Сервис</h4>
              <p class="service-card__text">Сервисная служба 24/7, выполняем техническое обслуживание и ремонт</p>

              <img class="service-card__img" loading="lazy" src="img/services/tools.png" width="156" height="156"
                alt="Инструменты">

              <span class="service-card__more">Подробнее
                <svg class="service-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
                </svg>
              </span>
            </div>

            <div class="service-card__overlay"></div>
          </a>
        </article>
      </li>

      <li class="services__item">
        <article class="service-card">
          <a class="service-card__link" href="#">
            <div class="service-card__body">
              <h4 class="service-card__title">Запчасти</h4>
              <p class="service-card__text">Собственный склад запасных частей. Запчасти в наличии и под заказ</p>

              <img class="service-card__img" loading="lazy" src="img/services/gear.png" width="156" height="156"
                alt="Логотип Cavag">

              <span class="service-card__more">Подробнее
                <svg class="service-card__icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
                </svg>
              </span>
            </div>

            <div class="service-card__overlay"></div>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
