<section class="service-article">
  <div class="service-article__head">
    <div class="container">
      <div class="service-article__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Запчасти и сервис</a>
          </li>

          <li class=" breadcrumbs__item breadcrumbs__item--active">
            <span>Сервис</span>
          </li>
        </ul>
      </div>

      <h1 class="service-article__title section-title">Сервис</h1>
    </div>
  </div>

  <div class="container">
    <div class="service-article__inner">
      <div class="service-article__content-wrapper">
        <div class="service-article__text-block service-article__text-block--margin text-block">
          <p class="text-block__text">Одним из приоритетов нашей компании, является поддержание поставленной нами
            техники
            Dingli в постоянном работоспособном состоянии. Для этого нами было создано сервисное подразделение.</p>
          <p class="text-block__text">Головной офис сервисного центра, а также склад запчастей находится по адресу:
            Московская область, г.Химки, Вашутинское ш. 33/1. Ввод в эксплуатацию, техническое обслуживание и ремонтные
            работы производятся на территории заказчика. Филиалы компании располагаются в Северо-западном, Южном
            округах,
            республике Башкирия и на Дальнем Востоке.</p>
          <p class="text-block__text">Работы по ремонту и обслуживанию техники выполняются 20 (двадцатью)
            высококвалифицированными специалистами, прошедшими обучение и сертифицированными для проведения всех работ
            на
            спецтехнике, которую мы поставляем. Наши сотрудники имеют огромный опыт работы, что позволяет быстро и
            качественно решать задачи любой сложности. Время реагирования составляет менее 24 часов. На все выполненные
            работы предоставляется гарантия.</p>
        </div>

        <h2 class="service-article__subtitle title-block">Безопасность подъемников</h2>

        <ul class="service-article__text-list text-list">
          <li class="text-list__item">Пусконаладочные работы и ввод в эксплуатацию</li>
          <li class="text-list__item">Инструктаж операторов техники с последующей выдачей сертификатов
          </li>
          <li class="text-list__item">Проведение технического обслуживания и оперативного ремонта
          </li>
          <li class="text-list__item">Установка дополнительного оборудования по требованию заказчика
          </li>
          <li class="text-list__item">Диагностика и ремонт двигателей, системы привода, стартеров, генераторов, ТНВД,
            мостов, гидравлики, и т.п.
          </li>
          <li class="text-list__item">Сложные ремонты с элементами восстановления узлов и агрегатов
          </li>
          <li class="text-list__item">Поставка запасных частей и расходных материалов
          </li>
          <li class="text-list__item">Установка дополнительных опций и обновлений на технику</li>
        </ul>

        <div class="service-article__text-block text-block">
          <p class="text-block__text">Компания имеет свой собственный склад запчастей в Москве, который насчитывает
            более
            10000 наименований оригинальных частей и расходных материалов.
          </p>
          <p class="text-block__text">Профессиональный сервис предусматривает целый комплекс мероприятий — от регулярных
            осмотров и диагностических процедур до замены изношенных деталей, восстановительного ремонта агрегатов и
            технических жидкостей. Наши выездные бригады гарантируют высокое качество услуг за счет профессионального
            кадрового состава, большого опыта работы, наличия современного диагностического и ремонтного оборудования, а
            также вспомогательной техники для манипуляций с тяжеловесными агрегатами.
          </p>
          <p class="text-block__text">Сервисное обслуживание подъёмников Dingli имеет целый ряд преимуществ:</p>
        </div>

        <ul class="service-article__text-list text-list">
          <li class="text-list__item">Высокая квалификация персонала;
          </li>
          <li class="text-list__item">Современная инструментальная база;
          </li>
          <li class="text-list__item">Оригинальные и сертифицированные расходники и запчасти;
          </li>
          <li class="text-list__item">Строгое соблюдение регламентов ТО производителей;
          </li>
          <li class="text-list__item">Оперативное проведение работ;
          </li>
        </ul>

        <div class="service-article__text-block text-block">
          <p class="text-block__text">Если Вам необходимо профессиональное техническое обслуживание/ремонт техники
            Dingli
            — обращайтесь в нашу компанию. Чтобы заказать выездные работы и время проведения диагностики, пожалуйста
            позвоните по телефону +7 (800) 600-39-44 или заполните онлайн-заявку на нашем сайте.
          </p>
          <p class="text-block__text">На видео инструкция по замене масла на стреловых подъёмниках серии BT/BA 
          </p>
        </div>

        <iframe class="service-article__video" width="100%" height="446" src="https://www.youtube.com/embed/li_9PBrcOcQ"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>

        <div class="service-article__text-block text-block">
          <p class="text-block__text">На видео ниже инструкция по действиям в случае внезапного отключения
            электроэнергии
            или дизельного двигателя стреловых подъёмниках серии BT/BA
          </p>
        </div>

        <iframe class="service-article__video" width="100%" height="446" src="https://www.youtube.com/embed/li_9PBrcOcQ"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>

      <div class="service-article__link-block link-block">
        <img class="link-block__img" src="img/link-block/link-block-img.png" alt="Шестеренка">

        <div class="link-block__content">
          <h3 class="link-block__title title-block">Запчасти</h3>
          <img class="link-block__img link-block__img--mobile" src="img/link-block/link-block-img.png" alt="Шестеренка">
          <p class="link-block__text">Запчасти для подъёмников Dingli. Вся номенклатура запасных частей поставляется с
            заводов-производителей. Склад запчастей состоит из более 10 000 позиций. Предлагаем расходные материалы,
            масла
            и смазки высокого качества с доставкой по России.</p>
          <a class="link-block__more button button--white cropped-corner" href="#">
            Узнать подробнее

            <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>