<section class="strong-lifts">
  <div class="strong-lifts__head">
    <div class="container">
      <div class="strong-lifts__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="info.html">Информация</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Подъёмники серии BT с повышенной грузоподъёмностью</span>
          </li>
        </ul>
      </div>

      <h1 class="strong-lifts__title section-title">Подъёмники серии BT с повышенной грузоподъёмностью</h1>
    </div>
  </div>

  <div class="container">
    <div class="strong-lifts__content">
      <div class="strong-lifts__text-block text-block">
        <p class="text-block__text">Стреловые телескопические подъемники большой грузоподъемности Hi-Capacity
          идентифицируются по модели серии ВТ.
          Модели данной серии предлагают расширенный рабочий диапазон и три зоны грузоподъемности до 454 кг в режиме с
          ограничениями и до 300 кг в режиме без ограничений.</p>
        <p class="text-block__text">Стреловые телескопические подъемники большой грузоподъемности Hi-Capacity
          идентифицируются по модели серии ВТ.
          Модели данной серии предлагают расширенный рабочий диапазон и три зоны грузоподъемности до 454 кг в режиме с
          ограничениями и до 300 кг в режиме без ограничений.</p>
        <p class="text-block__text">Фактически, модели DINGLI серии BT рассчитаны на трех пассажиров с инструментами во
          всех трех зонах, чем
          позволяют поднимать больше веса на увеличенную высоту.</p>
        <p class="text-block__text">Все подъемники линейки BT предлагаются с инновационной системой определения нагрузки
          от DINGLI, которая
          ограничивает работу машины при перегрузке платформы, автоматически сохраняя работу в пределах допустимого
          рабочего диапазона. Система калибровки нуля на всех моделях BT устраняет необходимость использования внешних
          грузов для калибровки подъемника. Это экономит время и силы, одновременно повышая производительность.</p>
        <p class="text-block__text">Применение:</p>

        <ul class="strong-lifts__list text-list">
          <li class="text-list__item">При монтаже, строительстве и возведении объектов, когда иные способы доставки
            рабочих в зону выполнения работ
            не могут быть применены;</li>
          <li class="text-list__item">При монтаже и обслуживании отдельно стоящих буровых и иных установок
            нефтегазодобычи;</li>
          <li class="text-list__item">На предприятиях и доках, выполняющих работы по возведению и ремонту корпусов
            судов;</li>
          <li class="text-list__item">На нефтяных и газовых платформах, установленных в открытом море, для смены
            персонала при вахтовом методе
            обслуживания платформ;</li>
          <li class="text-list__item">При перемещении персонала для крепления и раскрепления контейнеров и грузов;</li>
          <li class="text-list__item">При проведении диагностирования и ремонта металлоконструкций ПС, когда применение
            других средств подмащивания
            невозможно;</li>
        </ul>

        <p class="text-block__text">На видео вы можете подробнее ознакомится с моделями серии DINGLI BT.</p>
      </div>

      <iframe class="strong-lifts__video" width="445" height="260" src="https://www.youtube.com/embed/li_9PBrcOcQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>