<section class="sustainability">
  <div class="sustainability__head">
    <div class="container">
      <div class="sustainability__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="info.html">Информация</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Управление устойчивостью</span>
          </li>
        </ul>
      </div>

      <h1 class="sustainability__title section-title">Управление устойчивостью</h1>
    </div>
  </div>

  <div class="container">
    <div class="sustainability__content">

      <iframe class="sustainability__video" height="355" src="https://www.youtube.com/embed/li_9PBrcOcQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>

      <iframe class="sustainability__video" height="355" src="https://www.youtube.com/embed/li_9PBrcOcQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>