<section class="used-lifts">
  <div class="used-lifts__head">
    <div class="container">
      <div class="used-lifts__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="info.html">Информация</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Б/У Подъемники</span>
          </li>
        </ul>
      </div>

      <h1 class="used-lifts__title section-title">Б/У Подъемники</h1>
    </div>
  </div>

  <div class="container">
    <div class="used-lifts__content">
      <div class="used-lifts__text">В нашей компании вы также можете купить бывшие в употреблении подъёмники.</div>

      <ul class="used-lifts__list">
        <li class="used-lifts__item">
          <article class="used-lifts__card">
            <h3 class="used-lifts__card-title">JLG 510 AJ</h3>
            <p class="used-lifts__card-descr">Дизельный коленчатый подъемник (не аренда)</p>

            <div class="used-lifts__card-slider">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <img src="../img/used-lifts/1/image-1.jpg" alt="Картинка">
                </li>

                <li class="swiper-slide">
                  <img src="../img/used-lifts/1/image-2.jpg" alt="Картинка">
                </li>

                <li class="swiper-slide">
                  <img src="../img/used-lifts/1/image-3.jpg" alt="Картинка">
                </li>

                <li class="swiper-slide">
                  <img src="../img/used-lifts/1/image-1.jpg" alt="Картинка">
                </li>
              </ul>

              <div class="used-lifts__pagination slider-pagination"></div>
            </div>

            <div class="used-lifts__card-options">
              <div class="used-lifts__card-inner">
                <span class="used-lifts__card-strong">Серийный №: </span>
                <span class="used-lifts__card-meaning">E300002468</span>
              </div>

              <div class="used-lifts__card-inner">
                <span class="used-lifts__card-strong">Год выпуска: </span>
                <span class="used-lifts__card-meaning">2015</span>
              </div>

              <div class="used-lifts__card-inner">
                <span class="used-lifts__card-strong">Пробег: </span>
                <span class="used-lifts__card-meaning">131 м\ч</span>
              </div>

              <div class="used-lifts__card-inner">
                <span class="used-lifts__card-strong">Мощность двигателя: </span>
                <span class="used-lifts__card-meaning">49,5 л.с</span>
              </div>

              <div class="used-lifts__card-inner">
                <span class="used-lifts__card-strong">Страна производства: </span>
                <span class="used-lifts__card-meaning">Румыния</span>
              </div>

              <div class="used-lifts__card-inner">
                <span class="used-lifts__card-strong">Состояние: </span>
                <span class="used-lifts__card-meaning">технически исправен</span>
              </div>
            </div>

            <div class="used-lifts__card-bot">
              <span class="used-lifts__card-price">Цена По запросу</span>

              <button class="used-lifts__card-btn button button--orange cropped-corner">
                Связаться с нами
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </button>
            </div>
          </article>
        </li>

        <li class="used-lifts__item">
          <article class="used-lifts__card">
            <h3 class="used-lifts__card-title">JLG 2632ES</h3>
            <p class="used-lifts__card-descr">Электрический ножничный подъемник от единственного собственника (не
              аренда)</p>

            <div class="used-lifts__card-slider swiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <img src="../img/used-lifts/2/image-1.jpg" alt="Картинка">
                </li>

                <li class="swiper-slide">
                  <img src="../img/used-lifts/2/image-2.jpg" alt="Картинка">
                </li>

                <li class="swiper-slide">
                  <img src="../img/used-lifts/2/image-3.jpg" alt="Картинка">
                </li>

                <li class="swiper-slide">
                  <img src="../img/used-lifts/2/image-4.jpg" alt="Картинка">
                </li>

                <li class="swiper-slide">
                  <img src="../img/used-lifts/2/image-5.jpg" alt="Картинка">
                </li>

                <li class="swiper-slide">
                  <img src="../img/used-lifts/2/image-6.jpg" alt="Картинка">
                </li>
              </ul>

              <div class="used-lifts__pagination slider-pagination"></div>
            </div>
            <div class="used-lifts__card-options">
              <div class="used-lifts__card-inner">
                <span class="used-lifts__card-strong">Состояние: </span>
                <span class="used-lifts__card-meaning">на 3 с плюсом (Есть небольшой износ в кулаке)</span>
              </div>
            </div>

            <div class="used-lifts__card-bot">
              <span class="used-lifts__card-price">Цена По запросу</span>

              <button class="used-lifts__card-btn button button--orange cropped-corner">
                Связаться с нами
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                </svg>
              </button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>