<section class="warranty-article">
  <div class="warranty-article__head">
    <div class="container">
      <div class="warranty-article__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Запчасти и сервис</a>
          </li>

          <li class=" breadcrumbs__item breadcrumbs__item--active">
            <span>Гарантия</span>
          </li>
        </ul>
      </div>

      <h1 class="warranty-article__title section-title">Гарантия</h1>
    </div>
  </div>

  <div class="container">
    <div class="warranty-article__inner">
      <div class="warranty-article__content-wrapper">
        <div class="warranty-article__text-block text-block">
          <p class="text-block__text">Важным направлением деятельности ООО «Технотрейд» является гарантийное
            обслуживание
            техники Dingli. Техника Dingli является одной из самых надежных среди производителей подобной техники, но
            бывают редкие случаи выхода ее из строя. Мы прекрасно понимаем, что простои техники носят негативный
            характер,
            особенно в период гарантии и если случается неисправность, то предпринимаем все необходимые меры для ее
            оперативного устранения. Наша компания располагает сервисными инженерами, выездными автомобилями технической
            помощи и складами запасных частей, что позволяет свести до минимума устранение неисправности. Также для
            оперативности мы консультируем наших клиентов по телефону, так как на устранение большинства выходов из
            строя
            уходит 5-10 минут не сложных манипуляций и техника сразу же уходит в работу.
          </p>
          <p class="text-block__text">Если вам необходимо устранение гарантийных неисправностей техники Dingli звоните
            нам
            по телефону +7 (800) 600 39 44. Мы всегда готовы помочь!
          </p>
        </div>
      </div>

      <div class="warranty-article__link-block link-block">
        <img class="link-block__img" src="img/link-block/link-block-img.png" alt="Шестеренка">

        <div class="link-block__content">
          <h3 class="link-block__title title-block">Большой выбор запчастей</h3>
          <img class="link-block__img link-block__img--mobile" src="img/link-block/link-block-img.png" alt="Шестеренка">
          <p class="link-block__text">Подберём запчасти с гарантией для всех моделей техники Dingli.
            Моментальная отгрузка из наличия со склада в Московской области.
            Доставка из Китая в течении 14 дней!</p>
          <a class="link-block__more button button--white cropped-corner" href="#">
            Оставить заявку

            <svg class="hero__button-icon" width="17" height="14" viewBox="0 0 19 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="#3e3a39" stroke-width="2.5"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>