.popup {
  &__container {
    padding: 32px;
    border-radius: 0;
  }

  &__title {
    margin-bottom: 32px;
    line-height: 1.4;
  }

  &__wrapper {
    display: flex;
    column-gap: 158px;
    position: relative;
    padding-bottom: 32px;
    margin-bottom: 15px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--grey-light-bg-color);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__city-item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__city-link {
    font-family: 'RobotoRegular';
    font-size: 16px;
    transition: color 0.3s;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__city-text {
    font-size: 14px;
    font-family: 'RobotoRegular';
    line-height: 1.2;
  }

  &__delivery {
    color: var(--accent-color);
    text-decoration: underline;
  }

  &__btn {
    position: absolute;
    right: 16px;
    top: 24px;
    opacity: 0.6;
  }
}
