.popup {
  padding: 0 16px;

  &__container {
    padding: 32px;
    border-radius: 0;

    @media screen and (width <= 768px) {
      padding: 16px;
    }
  }

  &__title {
    margin-bottom: 32px;
    line-height: 1.2;

    @media screen and (width <= 768px) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    display: flex;
    column-gap: 158px;
    position: relative;
    padding-bottom: 32px;
    margin-bottom: 15px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--grey-light-bg-color);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__city-item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__city-link {
    font-family: 'RobotoRegular';
    font-size: 16px;
    transition: color 0.3s;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__city-text {
    font-size: 14px;
    font-family: 'RobotoRegular';
    line-height: 1.2;
  }

  &__text {
    font-family: 'RobotoRegular';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  &__delivery {
    color: var(--accent-color);
    text-decoration: underline;
  }

  &__btn {
    position: absolute;
    right: 6px;
    top: 18px;
    opacity: 0.6;
  }

  &__body {
    display: flex;
    column-gap: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(62, 58, 57, 0.2);

    @media screen and (width <= 568px) {
      flex-direction: column;
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }

  &__body-img {
    width: 286px;

    @media screen and (width <= 568px) {
      display: block;
      width: 100%;
      height: 226px;
      margin-bottom: 16px;
    }
  }

  &__body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body-descr {
    font-family: 'RobotoRegular';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

    @media screen and (width <= 568px) {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }

  &__body-price {
    font-family: 'OswaldBold';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    opacity: 0.6;
    margin-right: 8px;

    @media screen and (width <= 568px) {
      font-size: 18px;
    }
  }

  &__body-price-num {
    font-family: 'OswaldBold';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;

    @media screen and (width <= 568px) {
      font-size: 18px;
    }
  }

  .form__input,
  .form__textarea {
    border: 1px solid var(--grey-light-bg-color);
  }

  .form__textarea {
    height: 108px;

    @media screen and (width <= 768px) {
      height: 132px;
    }
  }

  .form__text {
    opacity: 1;
    font-size: 16px;

    @media screen and (width <= 768px) {
      font-size: 14px;
    }
  }
}

.callback {
  max-width: 440px;
  width: 100%;
}

.write-us {
  max-width: 668px;
  width: 100%;

  .form__block {
    @media screen and (width <= 568px) {
      flex-direction: column;
    }
  }

  .form__input-wrapper {
    @media screen and (width <= 568px) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .form__btn {
    left: 0;

    @media screen and (width <= 568px) {
      left: -9px;
    }
  }
}

.parts,
.parts-requests,
.buy {
  max-width: 668px;
  width: 100%;

  .form__checkboxes {
    margin-bottom: 32px;
  }

  .form__checkboxes-wrap {
    display: flex;
    align-items: center;
    position: relative;

    .just-validate-error-label {
      left: 30px;
      bottom: -12px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .form__checkbox {
    margin-right: 8px;
  }

  .form__btn {
    left: 0;
    width: fit-content;
  }

  .form__block {
    @media screen and (width <= 568px) {
      flex-direction: column;
    }
  }

  .form__input-wrapper {
    @media screen and (width <= 568px) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

.parts-requests {
  .form__file-lable {
    margin: 12px 0 16px 0;
  }

  .form__dwd-file {
    margin-bottom: 24px;
  }
}

.input-file {
  position: relative;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &__text {
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    font-family: 'RobotoSemiBold';
    vertical-align: middle;
    color: var(--accent-color);
    text-align: center;
    text-decoration: underline;
  }

  &__input[type='file'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  &__icon {
    margin-right: 8px;
  }
}

.buy {
  .popup__body {
    flex-direction: row;
    justify-content: space-between;

    @media screen and (width <= 768px) {
      flex-direction: column;
    }
  }

  .popup__title {
    max-width: 584px;
    width: 100%;
  }

  .popup__body-img {
    width: 286px;
    height: 208px;
    object-fit: contain;

    @media screen and (width <= 768px) {
      width: 100%;
      margin-bottom: 16px;
      height: 226px;
    }
  }

  .technic-card {
    padding: 0 0 32px 0;
  }

  .technic-card__list {
    max-width: 286px;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 0;
    margin-bottom: 22px;

    @media screen and (width <= 768px) {
      max-width: 100%;
    }
  }

  .technic-card__item-left {
    opacity: 0.6;
  }

  .popup__body-right {
    flex-grow: 1;
  }
}
