.table {
  border-collapse: collapse;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-size: 16px;
    font-family: 'RobotoRegular';
    border: 0;

    &:nth-child(odd) {
      background-color: var(--grey-light-bg-color);
    }
  }
  &__row-name {
  }
  &__row-meaning {
    font-family: 'RobotoSemiBold';
  }
}
