.type-product {
  display: flex;
  flex-wrap: wrap;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    padding: 8px 12px;
    font-family: 'RobotoMedium';
    color: var(--white-color);

    @media screen and (width <= 768px) {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  &__item {
    @media screen and (width <= 768px) {
      font-size: 14px;
      margin-bottom: 8px;
    }

    &--orange,
    &--dark-blue,
    &--blue {
      transition: all 0.3s ease;
    }

    &--dark-blue {
      background-color: var(--dark-blue-color);

      &:hover {
        opacity: 0.8;
      }
    }

    &--blue {
      background-color: var(--blue-color);

      &:hover {
        opacity: 0.8;
      }
    }

    &--orange {
      background-color: var(--accent-color);

      &:hover {
        background-color: var(--orange-dark-color);
      }
    }

    &:not(:last-child) {
      margin-right: 16px;

      @media screen and (width <= 768px) {
        margin-right: 8px;
      }
    }
  }

  &__qty {
    opacity: 0.6;
  }
}
