:root {
  // base
  --font-family: 'OswaldSemiBold', sans-serif;
  --content-width: 1240px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --accent-color: #ed6c00;
  --orange-dark-color: #c85b00;
  --black-color: #3e3a39;
  --black-color-dark: #000;
  --black-text-color: #3a3a3a;
  --grey-light-bg-color: #f1f1f1;
  --grey-dark-bg-color: #e0e0e0;
  --green-color: #61e938;
  --dark-blue-color: #5d5fef;
  --blue-color: #00a2ed;
  --white-color: #fff;
}
