.about {
  padding: 80px 0;
  position: relative;
  background-color: var(--black-color);
  color: var(--white-color);

  @media screen and (width <= 768px) {
    padding: 56px 0;
  }

  &__wrapper {
    display: flex;
    margin-bottom: 64px;

    @media screen and (width <= 1100px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (width <= 576px) {
      margin-bottom: 48px;
    }
  }

  &__left {
    margin-right: 32px;
    max-width: 640px;

    @media screen and (width <= 1100px) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 64px;
    font-family: 'OswaldBold';

    @media screen and (width <= 1100px) {
      margin-bottom: 40px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 32px;
    }
  }

  &__text {
    margin-bottom: 24px;
    line-height: 1.4;
    font-family: 'RobotoRegular';
    font-size: 16px;

    @media screen and (width <= 576px) {
      margin-bottom: 24px;
      font-size: 16px;
    }
  }

  &__details-wrap {
    display: flex;
    align-items: center;
    column-gap: 44px;

    @media screen and (width <= 576px) {
      flex-direction: column-reverse;
    }
  }

  &__details-catalog {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    transition: color 0.3s;

    @media screen and (width <= 576px) {
      margin-bottom: 16px;
      font-size: 16px;
    }

    svg {
      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      color: var(--accent-color);

      svg {
        path {
          fill: var(--accent-color);
        }
      }
    }

    svg {
      margin-left: 8px;
    }
  }

  &__details {
    width: fit-content;
    height: 44px;

    @media screen and (width <= 576px) {
      justify-content: center;
      width: calc(100% - 17px);
      padding-right: 0;
      text-align: center;
      align-self: flex-start;
    }
  }

  &__img {
    flex-shrink: 0;

    @media screen and (width <= 1100px) {
      order: -1;
      margin-bottom: 16px;
    }
  }

  &__pic {
    position: relative;
    z-index: 1;
    width: 636px;
    height: 440px;

    @media screen and (width <= 1100px) {
      height: 550px;
      width: 100%;
    }

    @media screen and (width <= 768px) {
      height: 450px;
    }

    @media screen and (width <= 576px) {
      height: 237px;
    }
  }

  &__achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (width <= 768px) {
      display: grid;
      gap: 24px 16px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__achievements-item {
    &:not(:last-child) {
      margin: 0 15px 24px 0;

      @media screen and (width <= 768px) {
        margin: 0;
      }
    }
  }

  &__achievements-top {
    display: block;
    margin-bottom: 4px;
    font-family: 'OswaldSemiBold';
    font-size: 64px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--accent-color);

    @media screen and (width <= 1024px) {
      font-size: 50px;
    }

    @media screen and (width <= 768px) {
      font-size: 42px;
    }

    @media screen and (width <= 576px) {
      font-size: 36px;
    }
  }

  &__achievements-bot {
    font-family: 'RobotoRegular';

    @media screen and (width <= 576px) {
      font-size: 15px;
    }
  }
}
