.catalog {
  padding: 80px 0;

  @media screen and (width <= 768px) {
    padding: 56px 0;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    @media screen and (width <= 576px) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-family: 'RobotoRegular';
    opacity: 0.6;
    max-width: 763px;
    width: 100%;
    margin-bottom: 48px;

    @media screen and (width <= 576px) {
      font-size: 16px;
      max-width: 100%;
      margin-bottom: 32px;
    }
  }

  &__list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (width <= 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (width <= 850px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @media screen and (width <= 576px) {
      margin-bottom: 32px;
    }
  }

  &__details {
    width: fit-content;

    &--mobile {
      display: none;

      @media screen and (width <= 576px) {
        display: block !important;
        width: 100%;
        text-align: center;
        font-size: 16px;
      }
    }

    @media screen and (width <= 1024px) {
      font-size: 18px;
    }

    @media screen and (width <= 576px) {
      display: none;
    }
  }
}
