.contacts {
  &__head {
    background-color: var(--grey-light-bg-color);
    padding: 156px 0 40px 0;

    @media screen and (width <= 768px) {
      padding-top: 16px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;

    @media screen and (width <= 1024px) {
      margin-bottom: 60px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @media screen and (width <= 850px) {
      margin-bottom: 24px;
    }
  }

  &__content {
    max-width: 445px;
    width: 100%;
    margin-right: 20px;
  }

  &__title {
    font-size: 64px;
    font-family: 'OswaldSemiBold';
    text-transform: uppercase;
    margin-bottom: 24px;

    @media screen and (width <= 1024px) {
      font-size: 48px;
    }

    @media screen and (width <= 768px) {
      font-size: 32px;
    }
  }

  &__text {
    font-family: 'RobotoRegular';
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 63px;
  }

  &__socials-text {
    font-family: 'RobotoMedium';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    opacity: 0.6;
    margin-bottom: 8px;
    display: block;
  }

  &__socials-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;

    @media screen and (width <= 768px) {
      column-gap: 16px;
    }
  }

  &__socials-link {
    font-family: 'RobotoRegular';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }

    svg {
      margin-right: 4px;
      margin-bottom: 3px;
    }
  }

  &__form-mobile {
    display: none;
    background-color: var(--grey-light-bg-color);
    padding: 40px 0 56px;

    .form__block {
      flex-direction: column;

      align-items: flex-start;

      &:not(:last-child) {
        margin-bottom: 18px;
      }

      > .form__input-wrapper:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    .form__text {
      margin-bottom: 24px;
    }

    .form__btn {
      width: 100%;
      justify-content: center;
    }

    @media screen and (width <= 850px) {
      display: block;
    }
  }

  &__subtitle {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__form {
    max-width: 604px;
    width: 100%;

    @media screen and (width <= 850px) {
      display: none;
    }

    .form__textarea {
      max-height: 300px;
    }
  }

  &__requisites {
    position: relative;
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;

    @media screen and (width <= 850px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 33px 24px;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--grey-dark-bg-color);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__requisites-item {
    display: flex;
    flex-direction: column;
    max-width: 286px;
    width: 100%;
  }

  &__requisites-name {
    opacity: 0.6;
    font-family: 'RobotoMedium';
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 8px;

    @media screen and (width <= 850px) {
      margin-bottom: 4px;
    }
  }

  &__requisite {
    font-size: 24px;
    font-family: 'OswaldSemiBold';
    text-transform: uppercase;

    @media screen and (width <= 1024px) {
      font-size: 20px;
    }

    @media screen and (width <= 768px) {
      font-size: 16px;
    }

    &--link {
      transition: color 0.3s;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &__tabs {
    padding: 77px 0 80px;

    @media screen and (width <= 990px) {
      padding: 40px 0;
    }

    @media screen and (width <= 768px) {
      .tabs__nav-btn {
        font-size: 18px;
      }
    }
  }
}
