.hero {
  background-color: var(--grey-light-bg-color);
  position: relative;
  overflow: hidden;
  padding-top: 116px;

  @media screen and (width <= 1024px) {
    padding-top: 64px;
  }

  &::before {
    content: '';
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 738px;
    height: 471px;
    background-image: url('../img/hero/hero-bg.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (width <= 1200px) {
      right: 0;
    }

    @media screen and (width <= 990px) {
      transform: translateY(0);
      bottom: 0;
      right: -20%;
    }

    @media screen and (width <= 576px) {
      width: 400px;
      height: 350px;
    }
  }

  &__slider-wrapper {
    @media screen and (width <= 576px) {
      margin-bottom: 25px;
    }
  }

  &__slider {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }

  &__slider-controls-prev,
  &__slider-controls-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__slider-controls-prev {
    left: 80px;

    @media screen and (width <= 1600px) {
      left: 40px;
    }

    @media screen and (width <= 1500px) {
      display: none;
    }
  }

  &__slider-controls-next {
    right: 80px;

    @media screen and (width <= 1600px) {
      right: 40px;
    }

    @media screen and (width <= 1500px) {
      display: none;
    }
  }

  &__pagination {
    align-self: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 990px) {
      flex-direction: column;
    }
  }

  &__content {
    margin-right: 30px;
    padding: 88px 0 53px 0;

    @media screen and (width <= 990px) {
      margin-right: 0;
      width: 100%;
      padding: 60px 0 25px 0;
    }
  }

  &__title {
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 24px;
    position: relative;
    max-width: 385px;
    width: 100%;

    @media screen and (width <= 1200px) {
      font-size: 44px;
    }

    @media screen and (width <= 1024px) {
      margin-bottom: 16px;
    }

    @media screen and (width <= 990px) {
      max-width: 100%;
    }

    @media screen and (width <= 768x) {
      font-size: 32px;
    }

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../img/svg/arrow-orange-hero.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: -20px;
      top: 60%;

      @media screen and (width <= 1200px) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    column-gap: 24px;
    margin-bottom: 32px;

    @media screen and (width <= 1024px) {
      margin-bottom: 24px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @media screen and (width <= 1024px) {
      font-size: 14px;
    }
  }

  &__item--img {
    margin-right: 4px;
  }

  &__descr {
    margin-bottom: 56px;
    font-family: 'RobotoRegular';
    color: var(--black-color-dark);
    opacity: 0.6;
    max-width: 433px;
    width: 100%;

    @media screen and (width <= 1024px) {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  &__img {
    position: relative;
    right: -15%;

    @media screen and (width <= 1500px) {
      right: 0;
    }
  }

  &__button {
    @media screen and (width <= 990px) {
      font-size: 16px;
    }
  }

  &__button-icon {
    margin-left: 8px;
  }
}
